{% extends "partials/page.html" %} {%- block content %}

<div
    class="grid gap-x-4 gap-y-6 mx-auto px-0 grid-cols-3 sm:grid-cols-5"
    data-pagefind-ignore
>
    {% for movie in movies %}
    <div class="justify-start items-center">
        <div class="w-full justify-center">
            <a
                class="flex my-0 justify-center"
                href="{{ movie.movie.slug().relative_link() }}"
                rel="noopener noreferrer"
            >
                <img
                    src="{{ movie.movie.poster.cdn_url() }}"
                    alt="{{ movie.movie.poster.alt }}"
                    class="max-h-[12rem] rounded-sm hobbyGridItemImage"
                />
            </a>
        </div>
        <div class="items-center">
            <a class="no-underline my-0" href="{{ movie.movie.slug().relative_link() }}">
                <p class="my-0 text-center accent">{{ movie.movie.title }}</p>
            </a>
            <p class="secondary my-0 text-center">
                ({{ movie.average_score }}/5)
            </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
