<!DOCTYPE html>
<html lang="{{ site.language }}">
    <head>
        <link rel="preconnect" href="https://cdn.geekyaubergine.com">
        <link rel="preconnect" href="https://fonts.bunny.net">

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="generator" content="{{ eleventy.generator }}">

        <link rel="icon" type="image/x-icon" href="/assets/img/icon.png">

        {%- if title %}
            {% set pageTitle = title + " | " + site.title %}
        {%- else %}
            {% set pageTitle = site.title %}
        {%- endif %}

        <title>{{ pageTitle }}</title>

        <meta name="title" content="{{ pageTitle }}"/>
        <meta property="og:title" content="{{ pageTitle }}"/>
        <meta property="twitter:title" content="{{ pageTitle }}"/>

        <meta name="description" content="{{ description | d(site.description) }}"/>
        <meta property="og:description" content="{{ description | d(site.description) }}"/>
        <meta property="twitter:description" content="{{ description | d(site.description) }}"/>

        <meta property="og:type" content="website"/>
        <meta property="twitter:card" content="summary_large_image"/>

        <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
        <meta property="twitter:url" content="{{ site.url }}{{ page.url }}"/>

        {%- if image and "http" in image %}
            <meta property="twitter:image" content="{{ image }}"/>
            <meta property="og:image" content="{{ image  }}"/>
        {%- elif image %}
            <meta property="twitter:image" content="{{ site.url }}{{ image }}"/>
            <meta property="og:image" content="{{ site.url }}{{ image  }}"/>
        {%- else %}
            <meta property="twitter:image" content="{{ site.url }}{{ site.image }}"/>
            <meta property="og:image" content="{{ site.url }}{{ site.image }}"/>
        {%- endif %}

        {%- if imageAlt %}
            <meta property="twitter:image:alt" content="{{ imageAlt }}"/>
            <meta property="og:image:alt" content="{{ imageAlt }}"/>
        {%- endif %}

        {%- if noIndex %}
            <meta name="robots" content="noindex"/>
        {%- endif %}

        {%- if buildinfo.isProduction %}
            <link rel="stylesheet" href="/assets/css/styles-{{ buildinfo.buildHash }}.css">
        {%- else %}
            <link rel="stylesheet" href="/assets/css/tw.css">
        {%- endif %}

        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-a11y-dark.min.css" rel="stylesheet" defer>
        <script src="https://cdn.usefathom.com/script.js" data-site="XPKVFMEO" defer></script>
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>