{% match omni_post %}
{% when OmniPost::BlogPost with (post) %}
{% include "omni_post/omni_post_page/omni_post_page_blog_post.html" %}
{% when OmniPost::MicroPost with (post) %}
{% include "omni_post/omni_post_page/omni_post_page_micro_post.html" %}
{% when OmniPost::MastodonPost with (post) %}
{% include "omni_post/omni_post_page/omni_post_page_mastodon_post.html" %}
{% when OmniPost::AlbumPhoto with { album, photo } %}
{% include "omni_post/omni_post_page/omni_post_page_album_photo.html" %}
{% when OmniPost::Album with (album) %}
{% include "omni_post/omni_post_page/omni_post_page_album.html" %}
{% when OmniPost::SteamAcheivementUnlocked with { achievement, game } %}
{% when OmniPost::MovieReview with (post) %}
{% include "omni_post/omni_post_page/omni_post_page_book_movie_tv_show_review.html" %}
{% when OmniPost::TvShowReview with (post) %}
{% include "omni_post/omni_post_page/omni_post_page_book_movie_tv_show_review.html" %}
{% when OmniPost::BookReview with (post) %}
{% include "omni_post/omni_post_page/omni_post_page_book_movie_tv_show_review.html" %}
{% endmatch %}
