{% extends "partials/page.html" %}

{%- block header %}
<div class="page-header mb-4">
    <h1>
        <time class="title-font" datetime="{{post.created_at().datetime()}}">{{post.created_at().without_time() }}</time>
    </h1>
    {%- if post.tags().len() > 0 %}
        <div class="my-4" >
            {% let tags = post.tags().clone() %}
            {% include "partials/tags_list.html" %}
        </div>
    {%- endif %}
</div>
{% endblock %}

{%- block content %}
    <article>
        {{ post.content().remove_media().to_html()|safe}}

        {% let media = post.media() %}
        {% for media in media %}
            {% include "partials/media/media.html" %}
        {% endfor %}
        <p class="mt-6">See original:
            <a href="{{ post.original_uri() }}" class="link" target="_blank" rel="me">{{ post.original_uri() }}</a>
        </p>
    </artcile>
{% endblock %}
