{% extends "partials/page.html" %} {%- block content %}

<div
    class="grid gap-x-4 gap-y-6 mx-auto px-0 grid-cols-3 sm:grid-cols-5"
    data-pagefind-ignore
>
    {% for book in books %}
    <div class="justify-start items-center">
        <div class="w-full justify-center">
            <a
                class="flex my-0 justify-center"
                href="{{ book.book.slug().relative_link() }}"
                rel="noopener noreferrer"
            >
                {% let image = book.book.cover.clone() %}
                {% include "partials/media/image.html" %}
            </a>
        </div>
        <div class="items-center">
            <a class="no-underline my-0" href="{{ book.book.slug().relative_link() }}">
                <p class="my-0 text-center accent">{{ book.book.title }}</p>
            </a>
            <p class="secondary my-0 text-center">
                ({{ book.average_score.round() }}/5)
            </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
