{% extends "partials/page.html" %}
{%- block header %}
<div class="page-header mb-12">
    <h1>{{ tv_show.title }}</h1>
    <div class="items-center my-4">
        <a
            class="items-center border-hover-accent"
            href="{{ tv_show.link }}"
            target="_blank"
            rel="noopener noreferrer"
        >
            {% let image = tv_show.poster.clone() %} {% include
            "partials/media/image.html" %}
        </a>

        <p>{{ average_score.round() }}/5</p>
    </div>
</div>

{% endblock %}
{%- block content %}
<h2 class="text-xl font-bold">Reviews</h2>
{% include "partials/omni_post/omni_post_list.html" %}
{% endblock %}
