{% extends "partials/page.html" %} {%- block content %}
<article>
    <div class="items-center mb-8">
        <a
            class="items-center mb-8 border-hover-accent"
            href="{{ tv_show.link }}"
            target="_blank"
            rel="noopener noreferrer"
        >
            {% let image = tv_show.poster.clone() %} {% include
            "partials/media/image.html" %}
        </a>

        <p>{{ average_score.format(1, true) }}/5</p>
    </div>

    <h2>Reviews</h2>
    <div class="timeline">
        {% for omni_post in posts %}
        <hr class="pb-4" />
        {% include "partials/omni_post/omni_post.html" %} {% endfor %}
    </div>
</article>
{% endblock %}
