<div class="photogrid">
    {% for photoId in photoIds %}
        {% set photo = albums.albumPhotos[photoId] %}
        <div class="grid-element {{ photo.fullSize.orientation }}">
            <a href="{{ photo.permalink }}">
                {% renderImage photo.thumbnailSmall %}
            </a>
        </div>
    {% endfor %}
</div>