<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ title | d(site.title)}}</title>

    <meta name="title" content="{{ title | d(site.title) }}"/>
    <meta property="og:title" content="{{ title | d(site.title) }}"/>
    <meta property="twitter:title" content="{{ title | d(site.title) }}"/>

    <meta name="description" content="{{ description | d(site.description) }}"/>
    <meta property="og:description" content="{{ description | d(site.description) }}"/>
    <meta property="twitter:description" content="{{ description | d(site.description) }}"/>

    <meta property="og:type" content="website"/>
    <meta property="twitter:card" content="summary_large_image"/>

    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}"/>

    {% if image %}
        <meta property="twitter:image" content="{{  pageImage }}"/>
        <meta property="og:image" content="{{  pageImage  }}"/>
    {% else %}
        <meta property="twitter:image" content="{{ site.url }}{{ site.image }}"/>
        <meta property="og:image" content="{{ site.url }}{{ site.image }}"/>
    {% endif %}

    {% if noIndex %}
        <meta name="robots" content="noindex"/>
    {% endif %}

    <link rel="stylesheet" href="{{ '/assets/css/tw.css' | url }}">
</head>
<body class="hidden">
    <main class="flex flex-col max-w-full mx-auto pt-4 pb-4 px-4 sm:px-0 sm:pt-8">
        {% include "navbar.njk" %}
        {{ content | safe }}
        {% include "footer.njk" %}
    </main>
</body>
</html>