<article class="mb-4 flex-col sm:flex-row">
    <a href="{{ post.permalink | stripIndex }}" class="flex flex-1">
        <h3 class="text-lg font-normal my-0 link accent">{{ post.title }}</h3>
    </a>
    <time class="flex secondary" dateTime="{{post.date }}">{{post.date | formatDate}}</time>
</article>