<article class="blog-post-item">
    <div class="title-and-date">
        <a href="{{ post.permalink | stripIndex }}">
            <h3>{{ post.title }}</h3>
        </a>
        <time class="date" dateTime="{{ post.date }}">{{post.date | formatDate}}</time>
    </div>
    {# {% if post.hero %}
        <div class="hero">
            <img src="{{ post.hero.src }}" alt="{{ post.hero.alt }}" width="{{ post.hero.width }}" height="{{ post.hero.height }}" title="{{ post.hero.title }}"/>
        </div>
    {% endif %} #}
    <p class="description">{{ post.description }}</p>
    <div class="time-to-read-and-tags">
        {# <p class="time-to-read">{{ post.content | timeToRead }} read</p> #}
        <div class="tags-list">
            {% set tags = post.tags %}
            {% include "tagsList.njk" %}
        </div>
    </div>
</article>
<hr/>