<div class="flex flex-col mt-2 mb-2 no-underline text">
    <a href="{{ post.slug | stripIndex }}" class="flex flex-col no-underline">
        <h3 class="text-lg link font-normal mt-0 mb-1">{{ post.title }}</h3>
    </a>
    <p class="mt-0 mb-0">{{ post.description }}</p>
    <div class="flex flex-row mt-0">
        <time class="secondary" dateTime="{{post.date }}">{{post.date | formatDate}}</time>
        <p class="secondary mx-1">-</p>
        <p class="secondary">{{ post.content | timeToRead }}</p>
    </div>
</div>