<article class="blogPostItem">
    <a href="{{ post.permalink | stripIndex }}">
        <h3>{{ post.title }}</h3>
    </a>
    <time dateTime="{{post.date }}">{{post.date | formatDate}}</time>
</article>