<div class="flex flex-col mt-2 mb-6 no-underline text">
    <a href="{{ site.url }}/blog/{{ blogPost.data.slug }}" class="flex flex-col no-underline">
        <h3 class="text-lg link font-normal mb-1">{{ blogPost.data.title }}</h3>
    </a>
    <p>{{ blogPost.data.description }}</p>
    <div class="flex flex-row mt-2">
        <time class="secondary" dateTime="{{blogPost.date.toISOString()}}">{{blogPost.date | formatDate}}</time>
        <p class="secondary mx-1">-</p>
        <p class="secondary">{{ blogPost.templateContent | timeToRead }} min</p>
    </div>
</div>