<footer class="flex flex-col width-control mt-12 mb-4 p-4 mx-auto items-center border-t border-t-border content">
    <p class="w-full text-center">Enjoyed what you've seen? Tell me about it on <a class="link" href="https://social.lol/@geekyaubergine" target="_blank" rel="me">Mastodon</a> 😊
    </p>
    <div class="flex flex-row">
        <a href="/referrals" class="link text-center">Referrals</a>
        <span class="text mx-2 my-0">-</span>
        <a class="link text-center"  href="https://zoeaubert.me/rss.xml" target="_blank" rel="noopener">RSS</a>
    </div>
</footer>