<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="generator" content="{{ eleventy.generator }}">

    {% if title %}
        {% set pageTitle = title + " | " + site.title %}
    {% else %}
        {% set pageTitle = site.title %}
    {% endif %}

    <title>{{ pageTitle }}</title>

    <meta name="title" content="{{ pageTitle }}"/>
    <meta property="og:title" content="{{ pageTitle }}"/>
    <meta property="twitter:title" content="{{ pageTitle }}"/>

    <meta name="description" content="{{ description | d(site.description) }}"/>
    <meta property="og:description" content="{{ description | d(site.description) }}"/>
    <meta property="twitter:description" content="{{ description | d(site.description) }}"/>

    <meta property="og:type" content="website"/>
    <meta property="twitter:card" content="summary_large_image"/>

    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}"/>

    {% if image %}
        <meta property="twitter:image" content="{{ site.url }}{{ image }}"/>
        <meta property="og:image" content="{{ site.url }}{{ image  }}"/>
    {% else %}
        <meta property="twitter:image" content="{{ site.url }}{{ site.image }}"/>
        <meta property="og:image" content="{{ site.url }}{{ site.image }}"/>
    {% endif %}

    {% if noIndex %}
        <meta name="robots" content="noindex"/>
    {% endif %}

    <link rel="stylesheet" href="{{ '/assets/css/tw.css' | url }}">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <script src="https://laugh-learned.zoeaubert.me/script.js" data-site="XPKVFMEO" defer></script>
</head>
<body class="hidden">
    {{ content | safe }}
</body>
</html>