<nav class="flex flex-1 flex-col width-control mx-auto justify-center items-baseline mb-4 sm:flex-row sm:justify-between">
    <div class="flex w-full flex-row items-center justify-between my-2 sm:justify-start">
        <a class="text-3xl h-full text-left sm:text-4xl" href="/">
            <p>Zoe Aubert</p>
        </a>
        {% include "themeToggle.njk" %}
    </div>
    <div class="flex w-full justify-between mt-2 sm:justify-end">
        {% for link in navlinks %}
            <a
                class="navbarLink"
                href="{{ link.url }}"
                target="{{ link.target }}"
                rel="{{ link.rel }}"
            >
                {{ link.name }}
            </a>
        {% endfor %}
    </div>
</nav>