<nav>
    <div class="name-and-buttons">
        <button type="button" id="toggleNavLinks" class="mobile-nav-toggle">
            <p id="mobile-nav-toggle-glyph">☰</p>
        </button>
        <div class="name-and-toggle">
            <a class="name" href="/">
                    Zoe Aubert
                </a>
            {% include "themeToggle.njk" %}
        </div>
        <div class="side-links">
            {% for link in socials %}
                {% if link.showInTopNav %}
                    <a
                class="link"
                href="{{ link.link }}"
                target="_blank"
                rel="me"
            >
                        {{ link.name }}
                    </a>
                {% endif %}
            {% endfor %}

        </div>
    </div>
    <div id="mobile-links" class="mobile-nav-container" aria-hidden="true">
        {% for link in socials %}
            {% if link.showInTopNav %}
                <a
                class="link"
                href="{{ link.link }}"
                target="_blank"
                rel="me"
            >
                    {{ link.name }}
                </a>
            {% endif %}
        {% endfor %}
        {% for link in navlinks %}
            <a
                class="link"
                href="{{ link.url }}"
                target="{{ link.target }}"
                rel="{{ link.rel }}"
            >{{ link.name }}</a>
        {% endfor %}
    </div>
</nav>
<script>
    const toggleNavLinks = document.getElementById('toggleNavLinks');

    toggleNavLinks
        ?.addEventListener('click', () => {
            const navlinks = document.getElementById('mobile-links');

            if (navlinks == null) {
                return;
            }

            const glyph = document.getElementById('mobile-nav-toggle-glyph');

            if (glyph == null) {
                return;
            }

            if (navlinks.attributes['aria-hidden'].value == "true") {
                navlinks.setAttribute("aria-hidden", "false");
                navlinks
                    .classList
                    .add('show');
                glyph.innerHTML = "⨉";
            } else {
                navlinks.setAttribute("aria-hidden", "true");
                navlinks
                    .classList
                    .remove('show');
                glyph.innerHTML = "☰";
            }
        });
</script>