<hr class="mx-0">
<div class='flex w-full justify-between mt-11'>
    <div>
        {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}" class="secondary flex items-center">
                <span class="mr-1">←</span>
                <span class="under mb-1">newer</span></a>
        {% endif %}
    </div>
    <div>
        {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}" class="secondary flex items-center">
                <span class="under mb-1">older</span>
                <span class="ml-1">→</span></a>
        {% endif %}
    </div>
</div>