<div class='flex-row w-full justify-between mt-11'>
    <div>
        {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}" class="secondary items-center">
                Newer Posts</a>
        {% endif %}
    </div>
    <div>
        {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}" class="secondary items-center">
                Older Posts
                </a>
        {% endif %}
    </div>
</div>