---
layout: base
---
<div class="width-control mx-auto">
    <h1 class="pageTitle mb-1">{{title}}</h1>
    <div class="flex flex-row">
        <time class="secondary" datetime="{{date}}">{{ date | formatDate }}</time>
        <p class="secondary mx-1">-</p>
        <p class="secondary">{{content | timeToRead}}</p>
    </div>
    <div class="w-full content">
        {{ content | safe }}
    </div>
</div>