<article class="flex flex-col my-10 sm:flex-row">
    <a href="{{ post.slug }}" class="flex mb-2 backdrop:link min-w-[12rem] sm:mb-0" rel="noopener">
        <time class="secondary under" datetime="{{ post.date }}">
            {{ post.date | formatDateTime }}
        </time>
    </a>
    <div class="flex flex-col">
        <div class="flex flex-col content">
            {% if post.type == 'blogPost' %}
                <a href="{{ post.slug | stripIndex }}" class="no-underline">
                    <h3 class="text-lg link font-normal mt-0 mb-1">{{ post.title }}</h3>
                </a>
                {% if post.hero %}
                    <img src="{{ post.hero.url }}" alt="{{ post.hero.alt }}" class="mt-4 mb-2"/>
                {% endif %}
                <p class="my-2">{{ post.description }}</p>
                <div class="flex flex-row">
                    <p class="secondary my-0">{{ post.content | timeToRead }}</p>
                </div>
            {% endif %}
            {% if post.type == 'microblog' %}
                {{ post.content | mdToHtml | safe }}
            {% endif %}
            {% if post.type == 'mastodon' %}
                {{ post.content | mdToHtml | safe }}
            {% endif %}
            {% if post.type == 'album' %}
                <a href="{{ post.slug | stripIndex }}" class="flex no-underline">
                    <h3 class="text-lg link font-normal my-0">{{ post.title }}</h3>
                </a>
                <div class="flex flex-col flex-1 justify-center mt-1">
                    {% if post.coverPhotos | length > 1 %}
                        <div class="grid gap-x-1 grid-cols-2 overflow-hidden max-h-[16rem]">
                            {% for photoId in post.coverPhotos %}
                                {% set photo = albums.photos[photoId] %}
                                {% renderPhoto photo.thumbnailSmall, photo.alt, "max-h-[16rem]" %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="flex flex-col justify-between my-2">
                            {% set photo = albums.photos[post.coverPhotos[0]] %}
                            {% renderPhoto photo.thumbnailSmall, photo.alt, "max-h-[16rem]" %}
                        </div>
                    {% endif %}
                </div>
                {% if post.description %}
                    <p class="mt-2 mb-2">{{ post.description }}</p>
                {% endif %}
            {% endif %}
            {% if post.type == 'statuslol' %}
                <div class="flex items-start">
                    <p class="my-0 mr-4 mt-[-.25rem] w-5 h-5 text-2xl text-left">{{ post.emoji }}</p>
                    <p class='my-0'>{{ post.content | linkifyMarkdown | safe }}</p>
                </div>
            {% endif %}
        </div>
        {% if post.type == 'blogPost' or post.type == 'microblog' or post.type == 'mastodon' %}
            <div class="flex flex-wrap">
                {% for tag in post.tags %}
                    <a href="/tags/{{ tag | slugify }}" class="link secondary mr-2">
                    #{{ tag | cleanTag }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
        {# {% if post.type == 'album' %}
            <div class="flex flex-wrap mt-2">
                {% for tag in post.tags %}
                    <a href="/photos/tags/{{ tag | slugify }}" class="link secondary mr-2">
                    #{{ tag | cleanTag }}
                    </a>
                {% endfor %}
            </div>
        {% endif %} #}
    </div>
</article>