<hr class="mx-0">
<article class="flex flex-col my-6">
    <div class="flex flex-col">
        <div class="flex flex-col content">
            {% if post.type == 'blogPost' %}
                <a href="{{ post.slug | stripIndex }}" class="no-underline">
                    <h2 class="text-lg link font-normal mt-0 mb-1">{{ post.title }}</h2>
                </a>
                {% if post.hero %}
                    <img src="{{ post.hero.url }}" alt="{{ post.hero.alt }}" class="mt-4 mb-2"/>
                {% endif %}
                <p class="my-2">{{ post.description }}</p>
            {% endif %}
            {% if post.type == 'microblog' or post.type == 'micro' %}
                {{ post.content | mdToHtml | safe }}
            {% endif %}
            {% if post.type == 'mastodon' %}
                {{ post.content | mdToHtml | safe }}
                {% if post.media | length > 1 %}
                    <div class="grid grid-cols-2 gap-x-2 gap-y-2 mt-4">
                        {% for media in post.media %}
                            {% renderMedia media, "!my-0" %}
                        {% endfor %}
                    </div>
                {% elif post.media | length > 0 %}
                    {% renderMedia post.media[0] %}
                {% endif %}
            {% endif %}
            {% if post.type == 'album' %}
                <a href="{{ post.slug | stripIndex }}" class="flex no-underline">
                    <h3 class="text-lg link font-normal my-0">{{ post.title }}</h3>
                </a>
                <div class="flex flex-col flex-1 justify-center mt-4">
                    {% if post.coverPhotos | length > 1 %}
                        <div class="grid gap-x-1 grid-cols-2 overflow-hidden">
                            {% for photoId in post.coverPhotos %}
                                {% set photo = albums.photos[photoId] %}
                                {% renderPhoto photo.thumbnailSmall, photo.alt, "w-half !my-0" %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="flex flex-col justify-between my-2">
                            {% set photo = albums.photos[post.coverPhotos[0]] %}
                            {% renderPhoto photo.thumbnailSmall, photo.alt, "!mb-0 w-full" %}
                        </div>
                    {% endif %}
                </div>
                {% if post.description %}
                    <p class="mt-2">{{ post.description }}</p>
                {% endif %}
            {% endif %}
            {% if post.type == 'statuslol' %}
                <div class="flex items-start">
                    <p class="my-0 mr-4 mt-[-.25rem] w-5 h-5 text-2xl text-left">{{ post.emoji }}</p>
                    <p class='my-0'>{{ post.content | linkifyMarkdown | safe }}</p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="flex mt-6 justify-between">
        <div class="flex flex-wrap">
            {% if post.type == 'blogPost' or post.type == 'microblog' or post.type == 'mastodon' or post.type == 'micro' %}
                {% for tag in post.tags %}
                    <a href="/tags/{{ tag | slug }}" class="link secondary mr-2">
                    #{{ tag }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
        <a href="{{ post.slug }}" class="flex backdrop:link items-end" rel="noopener">
            <time class="secondary under min-w-[10ch] text-right" datetime="{{ post.date }}">
                {{ post.date | relativeDate }}
            </time>
        </a>
    </div>
</article>