<article class="blog-post-item" data-pagefind-ignore>
    <div class="title-and-date">
        <a href="{{ post.slug.relative_link() }}">
            <h3>{{ post.title }}</h3>
        </a>
        <time class="date" dateTime="{{ post.date.datetime() }}">{{ post.date.without_time() }}</time>
    </div>

    <p class="description">{{ post.description }}</p>
    <div class="tags-list">
        {% set tags = post.tags.clone() %}
        {% include "partials/tags_list.html" %}
    </div>
</article>
<hr/>
