<li class="blog-post-item" data-pagefind-ignore>
    <div class="propse">
        <div class="title-and-date">
            <a href="{{ post.slug.relative_link() }}">
                <h3>{{ post.title }}</h3>
            </a>
            <time class="date" datetime="{{ post.date.datetime() }}"
                >{{ post.date.without_time() }}</time
            >
        </div>

        <p class="description">{{ post.description }}</p>
    </div>
    {% set tags = post.tags.clone() %} {% include "partials/tags_list.html" %}
</li>
<hr />
