<footer data-pagefind-ignore>
    <nav aria-label="Site Navigation">
        {% for link_group in page.page_links %}
        <div class="link-group">
            <h3>{{ link_group.name }}</h3>
            <ul>
                {% for link in link_group.links %}
                <li>
                    <a href="{{ link.url }}" rel="{{ link.rel() }}"
                        >{{ link.name }}</a
                    >
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </nav>
</footer>
