<div class="justify-start items-center">
    <a class="my-0" href="/hobbies/games/{{ game.id() }}" rel="noopener noreferrer">
        <img src="{{ game.header_image_url() }}" alt="{{ game.name() }} steam header image" class="w-full hobbyGridItemImage">
    </a>
    <a class="my-0 no-underline" href="/hobbies/games/{{ game.id() }}">
        <p class="my-0 text-center accent">{{ game.name() }}</p>
    </a>
    <p class="secondary my-0 leading-5">
        {{ game.playtime_hours().format(1, true) }}h
    </p>
    {# <p class="secondary my-0 leading-5">
        {{ game.achievement_progress_formatted() }}
    </p> #}
</div>