<div id="fundraiser-banner">
    <div>
        <p>
            I'm taking part in my first 10k with Race for Life for
            <a
                href="https://zoeaubert.me/charity/rfl25"
                rel="noopener noreferrer"
                >Cancer Research UK</a
            >
        </p>
    </div>
</div>
<nav data-pagefind-ignore aria-label="Primary Navigation">
    <div class="name-and-toggle">
        <a class="name" href="/">Zoe Aubert</a>
        {% include "partials/theme_toggle.html" %}
    </div>
    <div class="links">
        {% for link in page.header_links %}
        <a class="link" href="{{ link.url }}">{{ link.name }}</a>
        {% endfor %}
    </div>
</nav>
