@import "core";

.blog-category {
  flex: 1;
  flex-grow: 0;

  padding: .25rem .375rem;

  background-color: $secondary-background-light;
  border-radius: .125rem;

  .name {
    flex: 1;
    padding: 0;
    font-size: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .blog-category {
    background-color: $secondary-background-dark;
  }
}
