@import 'core';

.nav {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: $max-width;
    padding: 2rem 1rem .5rem;
  }

  .name {
    width: 100%;
    align-self: flex-start;
    text-align: center;

    a {
      font-size: 300%;
      font-weight: 300;
      text-decoration: none;
    }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0;

    li {
      display: flex;
      flex: 1;
      width: 4.5em;
      justify-content: center;
      align-items: center;
      margin: 0 .25rem;
      list-style: none;
      border-bottom: 1px solid $invisible;
      transition: border-bottom 250ms;

      a {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: $primary-color-text-light;
        text-decoration: none;
        text-align: center;
      }

      p {
        flex: 100%;
        font-size: 60%;
        text-align: center;
      }

      &:hover {
        border-bottom-color: $primary-color-text-light;
      }

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (min-width: $max-width) {
  .nav {
    .wrapper {
      padding: 3rem 1rem 1rem;
    }

    .name {
      padding-bottom: .5rem;

      a {
        font-size: 350%;
        font-weight: 300;
        text-decoration: none;
      }
    }

    .links {
      li {
        margin: 0 1rem;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .nav {
    .links {
      li {
        a {
          color: $primary-color-text-dark;
        }

        &:hover {
          border-bottom-color: $primary-color-text-dark;
        }
      }
    }
  }
}
