@import 'core';

.post-article {
  padding: 2rem;
  height: 100%;
  background-color: $soft-white;

  h2,
  h3,
  h4,
  h5,
  h6 {
    flex: 100%;
    padding: 1em 0 .5rem;
    font-weight: bold;
  }

  h2 {
    font-size: 250%;
    text-align: center;
    padding: 0 0 1rem;
    font-weight: normal;
  }

  h3 {
    font-size: 150%;
  }

  h4 {
    font-size: 125%;
  }

  h5 {
    font-size: 110%;
  }

  .date {
    flex: 100%;
    font-size: 150%;
    justify-content: center;
    padding-bottom: 3rem;
    color: $secondary-colour-text;
  }
}