<li class="omni-post">
    <div class="post">
        <a href="{{ omni_post.link() }}" rel="noopener" class="timestamp">
            <time datetime="{{ omni_post.date().datetime() }}">
                {{ omni_post.date().without_time() }}
            </time>
        </a>

        <div class="prose">
            {% match omni_post %}
            {% when OmniPost::BlogPost with (post) %}
            {% include "omni_post/omni_post_list/omni_post_list_item_blog_post.html" %}
            {% when OmniPost::MicroPost with (post) %}
            {% include "omni_post/omni_post_list/omni_post_list_item_with_content_and_media.html" %}
            {% when OmniPost::MastodonPost with (post) %}
            {% include "omni_post/omni_post_list/omni_post_list_item_with_content_and_media.html" %}
            {% when OmniPost::AlbumPhoto with (photo) %}
            {% include "omni_post/omni_post_list/omni_post_list_item_album_photo.html" %}
            {% when OmniPost::Album with (album) %}
            {% include "omni_post/omni_post_list/omni_post_list_item_album.html" %}
            {% when OmniPost::SteamAcheivementUnlocked with { achievement, game } %}
            {% include "omni_post/omni_post_list/omni_post_list_item_steam_achievement_unlocked.html" %}
            {% when OmniPost::MovieReview with (post) %}
            {% include "omni_post/omni_post_list/omni_post_list_item_movie_review.html" %}
            {% when OmniPost::TvShowReview with (post) %}
            {% include "omni_post/omni_post_list/omni_post_list_item_tv_show_review.html" %}
            {% when OmniPost::BookReview with (post) %}
            {% include "omni_post/omni_post_list/omni_post_list_item_book_review.html" %}
            {% endmatch %}
        </div>

        {% let tags = omni_post.tags() %}
        {% include "partials/tags_list.html" %}
    </div>

    {% match omni_post.side_image() %}
    {% when Some with (image) %}
    <div class="image">
        {% include "partials/media/image.html" %}
    </div>
    {% when None %}
    {% endmatch %}
</li>
