@import "../components/core";

$thumb-height: 200px;
$thumb-width-portrait: 133px;
$thumb-width-landscape: 300px;
$thumb-padding: 2px;

.container {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
}

.grid {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  justify-content: space-evenly;
  overflow-x: hidden;
}

.thumbContainer {
  //flex: 1;
  background-color: $data-background-dark;
  margin: .5rem .25rem;
  padding: $thumb-padding;
  align-items: center;
}

.thumbContainerPortrait {
  flex: $thumb-width-portrait + $thumb-padding 0;
}

.thumbContainerLandscape {
  flex: $thumb-width-landscape + $thumb-padding 0;
}

.thumb {
  //object-fit: cover;
  max-height: 100%;
  width: auto;
}

.thumbPortrait {
}

.thumbLandscape {
}

.fullScreenModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: #080808;
}

.exit {
  width: 100%;
  height: 2rem;
  max-height: 2rem;
  justify-content: flex-end;
  padding: .5rem;
  color: $primary-colour-text-dark;
}

.details {
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  width: 100%;
  max-height: 7rem;
  color: $primary-colour-text-dark;
}

.description {
  flex: 1;
  width: $max-width;
  height: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.counter {
  flex: 1;
  width: 100%;
  height: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.fullWrapper {
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.fullContainer {
  flex: 1;
  justify-content: center;
  align-items: center;
  max-width: min(50vw, 50vh);
  max-height: min(75vw, 75vh);
}

.fullContainerPortrait {
}

.fullContainerLandscape {
  max-height: min(60vw, 60vh);
  max-width: min(90vw, 90vh);
}

.full {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.fullPortrait {
  //max-width: 50vh;
}

.fullLandscape {
  //width: 80vw;
}
