@import "../../components/core";

.pageTitle {
  width: 100%;
  //text-align: center;
  font-size: 200%;
  padding: 2rem 1rem 1rem;
  font-weight: bold;
}

.posts {
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.post {
  flex: 1;
  width: 100%;
  padding: 1.5rem 1rem;
  border-top: 1px solid var(--border-color);
  transition: background-color 0.25s;

  &:hover {
    background-color: var(--secondary-background);

    .title {
      text-decoration: underline;
    }
  }

  &:first-of-type {
    border-color: $invisible;
  }

  .title {
    width: 100%;
    font-size: 110%;
    font-weight: bold;
    text-decoration: none;

    transition: text-decoration 0.25s;
  }

  .description {
  }

  .dateAndCategories {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
  }

  .date {
    padding: .25rem .375rem .25rem 0;
    color: var(--secondary-text);
    font-size: 80%;
  }

  .categories {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
  }

  .category {
    flex: 0;
    padding: .25rem .375rem;
    margin: 0 .25rem;
    background-color: var(--tertiary-background);
    font-size: 80%;
    border-radius: .0625rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

@media only screen and (min-width: $collapsable-width) {
  .pageTitle {
    padding: 2rem 0 1rem;
  }

  .posts {
    padding: 0;
  }

  .post {
    .title {
      font-size: 120%;
    }
  }
}