---
layout: page
---
<div class="content about">
    {{ about | mdToHtml | safe}}
</div>
{# <div class="mainPageBlock">
    <h2 class="mainPageHeading">Recent Posts</h2>
    {%- for postKey in timeline.recentPostsOrder %}
        {% set post = timeline.posts[postKey] %}
        {% include "timelinePost.njk" %}
    {% endfor %}
    <a class="mt-6" href="/timeline">See Timeline</a>
</div> #}
<div class="mainPageBlock">
    <h2 class="mainPageHeading">Blog Posts</h2>
    {%- for postKey in blogposts.recentPostsOrder %}
        {% set post = blogposts.posts[postKey] %}
        {% include "blogPostListItem.njk" %}
    {% endfor %}
    <a class="mt-6" href="/blog">See All Blog Posts</a>
</div>