---json
{
  "permalink": "rss-timeline.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "{{site.title}}",
    "subtitle": "{{site.description}}",
    "language": "{{side.language}}",
    "url": "{{site.url}}",
    "author": {
      "name": "{{site.author}}"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ site.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title }} - Timeline</title>
    <link>{{ site.url }}</link>
    <atom:link href="{{ permalink | absoluteUrl(site.url) }}" rel="self" type="application/rss+xml"/>
    <description>{{ site.description }}</description>
    <language>{{ site.language }}</language>
    {%- for entityId in timeline.entityOrder %}
      {% set post = timeline.entities[entityId] %}
      {%- set absolutePostUrl = post.slug | absoluteUrl(site.url) %}
      <item>
        {% if post.type == "blogPost" or post.type == 'album' %}
          <title>{{ post.title }}</title>
        {% else %}
          <title>{{ post.date | formatDateTime }}</title>
        {% endif %}
        <link>{{ absolutePostUrl }}</link>
        <description>
          {% if post.type == "blogPost" or post.type == 'microblog' or post.type == 'micro' %}
            {{ post.content | mdToHtml | htmlToAbsoluteUrls(absolutePostUrl) }}
          {% endif %}
          {% if  post.type == 'mastodon' %}
            {{ post.content | mdToHtml | htmlToAbsoluteUrls(absolutePostUrl) }}
            {% for media in post.media %}
              {{ media | mediaToRss | htmlToAbsoluteUrls(absolutePostUrl) }}
            {% endfor %}
          {% endif %}
          {% if post.type == 'statuslol' %}
            {{ post.emoji }}
            {{ post.content | mdToHtml | htmlToAbsoluteUrls(absolutePostUrl) }}
          {% endif %}
          {% if post.type == 'album' %}
            {{ post.description | mdToHtml | htmlToAbsoluteUrls(absolutePostUrl) }}
            {% for photoId in post.photoOrder %}
              {% set photo = albums.photos[photoId] %}
              {{ photo.description | mdToHtml | htmlToAbsoluteUrls(absolutePostUrl) }}
              {{ photo | albumPhotoToRss | htmlToAbsoluteUrls(absolutePostUrl) }}
            {% endfor %}
          {% endif %}
        </description>
        <pubDate>{{ post.date | toActualDate | dateToRfc822 }}</pubDate>
        <dc:creator>{{ site.author }}</dc:creator>
        <guid>{{ absolutePostUrl }}</guid>
      </item>
    {%- endfor %}
  </channel>
</rss>