---
layout: page
title: Blog Posts
---
<div class="blog-posts">
    {%- for postKey in blogposts.postOrder %}
        {% set post = blogposts.posts[postKey] %}
        {% include "blogPostListItem.njk" %}
    {% endfor %}
</div>