---
layout: page
title: Tags
disableFind: true
---
<ul>
    {%- for tag in taggedPosts.allTags %}
        <li>
            <a href="/tags/{{ tag | slug }}">{{ tag }}</a> - {{ taggedPosts.tagCounts[tag] }}</li>
    {% endfor %}
</ul>