<artcile class="timeline-post">
{% match omni_post %}
{% when OmniPost::UnlockedGameAchievement with {
    game,
    achievement
} %}
{% include "partials/omni_post/omni_post_game_achievement.html" %}
{% when OmniPost::StatusLol with (post) %}
{% include "partials/omni_post/omni_post_status_lol.html" %}
{% when OmniPost::BlogPost with (post) %}
{% include "partials/omni_post/omni_post_blog_post.html" %}
{% when OmniPost::MicroPost with (post) %}
{% include "partials/omni_post/omni_post_micro_post.html" %}
{% when OmniPost::MicroblogArchivePost with (post) %}
{% include "partials/omni_post/omni_post_microblog_archive_post.html" %}
{% when OmniPost::MastodonPost with (post) %}
{% include "partials/omni_post/omni_post_mastodon_post.html" %}
{% endmatch %}
{%- block content %}
{%- endblock %}

<div class="tags-and-timestamp">
    <div class="tags-list">
        {% let tags = omni_post.tags() %}
        {% include "partials/tags_list.html" %}
    </div>
    <a href="{{ omni_post.permalink() }}" rel="noopener" class="timestamp">
        <time datetime="{{ omni_post.date().datetime() }}">
            {{ omni_post.date().short_iso() }}
        </time>
    </a>
</div>

</artcile>