<a
    href="{{ album.slug.relative_link() }}"
    rel="noopener"
    class="!no-underline"
>
    <h2>{{ album.title }}</h2>
</a>
<div class="media !mt-4">
{% let cover_images = album.cover_images() %}
{% if cover_images
    .len() > 1 %}
    <div class="media-grid">
        {% for image in cover_images %}
            {% include "partials/media/image.html" %}
        {% endfor %}
    </div>
{% else %}
    <div class="justify-between">
        {% for image in cover_images %}
            {% include "partials/media/image.html" %}
        {% endfor %}
    </div>
{% endif %}
</div>
