---
layout: page
title: Hobbies
description: My hobbies
---
<ul>
    <li>
        <a href="/hobbies/games">Games</a>
    </li>
    <li>
        <a href="/hobbies/lego">Lego</a>
    </li>
    <li>
        <a href="/albums">Photography</a>
    </li>
    <li>
        <a href="/hobbies/movies">Movies</a>
    </li>
    <li>
        <a href="/hobbies/tv">Tv</a>
    </li>
</ul>