---
layout: base
pagination:
    data: albums.albumOrder
    size: 1
    alias: albumId
permalink: "/{{ albums.albums[albumId].slug }}/index.html"
eleventyComputed:
    title: "{{ albums.albums[albumId].title }}"
    description: "{{ albums.albums[albumId].date | formatDate }}"
    image: "{{ albums.photos[albums.albums[albumId].coverPhotos[0]].thumbnailSmall.url | prefixCDN }}"
    imageAkt: "{{ albums.photos[albums.albums[albumId].coverPhotos[0]].alt | prefixCDN }}"
---
{% set album = albums.albums[albumId] %}
<div class="width-control mx-auto pb-4">
    {% if title %}
        <h1 class="pageTitle">{{ title | safe }}</h1>
        <time class="text secondary" datetime={{album.date}}>
            {{album.date}}
        </time>
    {% endif %}
</div>
{% if album.description %}
    <div class="width-control mx-auto pb-8">
        <p class="text-secondary">{{ album.description }}</p>
    </div>
{% endif %}
{% set photoIds = album.photoOrder %}
{% include 'albumPhotoGrid.njk' %}