---
layout: html
pagination:
    data: albums.albumPhotoOrder
    size: 1
    alias: photoId
permalink: "{{ albums.albumPhotos[photoId].permalink }}/index.html"
eleventyComputed:
    title: "{{ albums.albumPhotos[photoId].description }}"
    description: "{{ albums.albumPhotos[photoId].date | formatDate }} - {{ albums.albumPhotos[photoId].albumTitle }}"
    image: "{{ albums.albumPhotos[photoId].thumbnailSmall.src | prefixCDN }}"
    imageAlt: "{{ albums.albumPhotos[photoId].alt }}"
---
{% set photo = albums.albumPhotos[photoId] %}
{% set post = albums.albumPhotos[photoId] %}
<main class="photo-page">
    {% include "navbar.njk" %}
    {# <a href="javascript:history.back()">
        <p class="accent m-0">Back</p>
    </a> #}
    <div class="img-container">
        {% renderImage photo.thumbnailLarge, "flex max-w-full" %}
    </div>
    
    <div class="buttons-and-text">
        <p class="description">
            {{photo.description}}
        </p>
        <div class="tags-list">
            {% set tags = photo.tags %}
            {% include "tagsList.njk" %}
        </div>
        <div class="nav">
            {% if photo.previous %}
                <button
                    type="button"
                    class="arrow-left"
                    id="previousPhotoButton"
                >
                    ←
                </button>
            {% else %}
                <div class="flex flex-1"></div>
            {% endif %}
            <p class="flex flex-1 justify-center tabular-nums m-0">{{photo.indexString}} / {{ photo.albumTotalPhotos }}</p>
            {% if photo.next %}
                <button
                    type="button"
                    class="arrow-right"
                    id="nextPhotoButton"
                >
                    →
                </a>
            {% else %}
                <div class="flex flex-1"></div>
            {% endif %}
        </div>
        <div class="links">
            <a
                        href="{{ photo.albumPermalink | stripIndex }}"
                    >
                        Album
                    </a>
            <p class="mx-2 my-0">-</p>
            <a
                        href="{{ photo.fullSize.src | prefixCDN }}"
                        target="_blank"
                        rel="noopener"
                    >
                        Original
                    </a>
        </div>
    </div>
</main>
<script type="text/javascript">
    const previousPhotoButton = document.getElementById("previousPhotoButton");
    const nextPhotoButton = document.getElementById("nextPhotoButton");

    function goToPreviousPhoto() {
        window
            .history
            .replaceState(null, '', '{{ albums.albumPhotos[photo.previous].permalink | d(' ') }}/')
        location.reload()
    }

    function goToNextPhoto() {
        console.log("goToNextPhoto")
        history.replaceState(null, '', '{{ albums.albumPhotos[photo.next].permalink | d(' ') }}/')
        location.reload()
    }

    function onKeyUp(event) {
        if (event.key === 'Escape') {
            window
                .history
                .back()
        }
        if (event.key === 'ArrowLeft' && previousPhotoButton) {
            goToPreviousPhoto()
        }
        if (event.key === 'ArrowRight' && nextPhotoButton) {
            goToNextPhoto()
        }
    }

    if (previousPhotoButton) {
        previousPhotoButton.addEventListener("click", goToPreviousPhoto);
    }

    if (nextPhotoButton) {
        nextPhotoButton.addEventListener("click", goToNextPhoto);
    }

    window.addEventListener('keyup', onKeyUp)
</script>