---
layout: base
pagination:
    data: albums.albums
    size: 1
    alias: album
permalink: "{{ album.permalink }}"
eleventyComputed:
    title: "{{ album.title }}"
---
<div class="width-control mx-auto pb-4">
    {% if title %}
        <h2 class="pageTitle text-red-500">{{ title }}</h2>
        <time class="text secondary" datetime={{album.date}}>
            {{album.date}}
        </time>
    {% endif %}
</div>
{% if album.description %}
    <div class="width-control mx-auto pb-8">
        <p class="text-secondary">{{ album.description }}</p>
    </div>
{% endif %}
{% set photos = album.photos %}
{% include 'photoGrid.njk' %}