---
layout: html
pagination:
    data: albums.albumOrder
    size: 1
    alias: albumId
permalink: "/{{ albums.albums[albumId].permalink }}/index.html"
eleventyComputed:
    title: "{{ albums.albums[albumId].title }}"
    description: "{{ albums.albums[albumId].date | formatDate }}"
    image: "{{ albums.albumPhotos[albums.albums[albumId].coverPhotos[0]].thumbnailSmall.src | prefixCDN }}"
    imageAkt: "{{ albums.albumPhotos[albums.albums[albumId].coverPhotos[0]].alt | prefixCDN }}"
---
{% set album = albums.albums[albumId] %}
<main>
    {% include "navbar.njk" %}
    <div class="wide">
        <div class="page-header">
            <h1 class="pageTitle">{{ albums.albums[albumId].title }}</h1>
            <time class="text secondary my-0" datetime={{album.date}}>
                {{album.date | formatDate }}
            </time>
            {% if album.description %}
                <div class="content mt-4">
                    <p class="text-secondary">{{ album.description }}</p>
                </div>
            {% endif %}
        </div>
        {% set photoIds = album.photoOrder %}
        {% include 'albumPhotoGrid.njk' %}
    </div>
    {% include "footer.njk" %}
</main>