---
layout: html
pagination:
    data: albums.albumPhotoOrder
    size: 1
    alias: photoId
permalink: "{{ albums.albumPhotos[photoId].permalink }}/index.html"
eleventyComputed:
    title: "{{ albums.albumPhotos[photoId].description }}"
    description: "{{ albums.albumPhotos[photoId].date | formatDate }} - {{ albums.albumPhotos[photoId].albumTitle }}"
    image: "{{ albums.albumPhotos[photoId].thumbnailSmall.url | prefixCDN }}"
    imageAlt: "{{ albums.albumPhotos[photoId].alt }}"
---
{% set photo = albums.albumPhotos[photoId] %}
{% set post = albums.albumPhotos[photoId] %}
<main class="max-w-full mx-auto pt-4 pb-4 px-4 sm:px-0 sm:pt-8 h-screen max-h-screen justify-between">
    {% include "navbar.njk" %}
    <div class="flex-row justify-center object-contain overflow-hidden my-4 sm:mx-4">
        {% renderImage photo.thumbnailLarge, "flex max-h-full max-w-full" %}
    </div>
    <div class="justify-between items-center sm:mb-8 sm:width-control sm:mx-auto">
        <div class="justify-between items-center">
            <p class="w-full text-center mt-4 mb-2">
                {{photo.description}}
            </p>
            <div class="flex w-full flex-wrap justify-center">
                <div class="flex-row flex-wrap mt-1">
                    {% include "tagsList.njk" %}
                </div>
            </div>
        </div>
        <div class="flex-row w-full justify-between items-center">
            {% if photo.previous %}
                <button
                    type="button"
                    class="flex flex-1 link no-underline h-8 items-center  text-lg"
                    id="previousPhotoButton"
                >
                    ←
                </button>
            {% else %}
                <div class="flex flex-1"></div>
            {% endif %}
            <p class="flex flex-1 justify-center tabular-nums">{{photo.indexString}} / {{ photo.albumTotalPhotos }}</p>
            {% if photo.next %}
                <button
                    type="button"
                    class="flex flex-1 justify-end link no-underline h-8 items-cente text-lg"
                    id="nextPhotoButton"
                >
                    →
                </a>
            {% else %}
                <div class="flex flex-1"></div>
            {% endif %}
        </div>
        <div class="flex-row w-full justify-between items-center">
            <div class="flex-row w-full justify-center items-baseline">
                <a
                        href="{{ photo.albumPermalink | stripIndex }}"
                        class="text-center link mt-2"
                    >
                        Rest of Album
                    </a>
                <p class="mx-2"> - </p>
                <a
                        class="link"
                        href="{{ photo.fullSize.url | prefixCDN }}"
                        target="_blank"
                        rel="noopener"
                    >
                        Original
                    </a>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    const previousPhotoButton = document.getElementById("previousPhotoButton");
    const nextPhotoButton = document.getElementById("nextPhotoButton");

    function goToPreviousPhoto() {
        window
            .history
            .replaceState(null, '', '{{ albums.albumPhotos[photo.previous].permalink | d(' ') }}/')
        location.reload()
    }

    function goToNextPhoto() {
        console.log("goToNextPhoto")
        history.replaceState(null, '', '{{ albums.albumPhotos[photo.next].permalink | d(' ') }}/')
        location.reload()
    }

    function onKeyUp(event) {
        if (event.key === 'Escape') {
            window
                .history
                .back()
        }
        if (event.key === 'ArrowLeft' && previousPhotoButton) {
            goToPreviousPhoto()
        }
        if (event.key === 'ArrowRight' && nextPhotoButton) {
            goToNextPhoto()
        }
    }

    if (previousPhotoButton) {
        previousPhotoButton.addEventListener("click", goToPreviousPhoto);
    }

    if (nextPhotoButton) {
        nextPhotoButton.addEventListener("click", goToNextPhoto);
    }

    window.addEventListener('keyup', onKeyUp)
</script>