---
layout: html
pagination:
    data: albums.albumPhotoOrder
    size: 1
    alias: photoId
permalink: "{{ albums.albumPhotos[photoId].permalink }}/index.html"
eleventyComputed:
    title: "{{ albums.albumPhotos[photoId].description }}"
    description: "{{ albums.albumPhotos[photoId].date | formatDate }} - {{ albums.albumPhotos[photoId].albumTitle }}"
    image: "{{ albums.albumPhotos[photoId].thumbnailSmall.src | prefixCDN }}"
    imageAlt: "{{ albums.albumPhotos[photoId].alt }}"
---
{% set photo = albums.albumPhotos[photoId] %}
{% set post = albums.albumPhotos[photoId] %}
<main class="main w-full h-screen">
    <div class="width-control mx-auto h-[3rem]">
        <nav class="width-control mx-auto justify-center items-baseline mb-8">
            <div class="w-full flex-row width-control mx-auto justify-center items-baseline md:flex-row md:justify-between">
                <div class="w-full flex-row justify-between items-baseline">
                    <a class="text-2xl" href="/">
                        <p class="m-0">Zoe Aubert</p>
                    </a>
                    <div class="flex-row">
                        <a class="mr-4" href="/">
                            <p class="m-0 accent">Home</p>
                        </a>
                        <a href="javascript:history.back()">
                            <p class="accent m-0">Back</p>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="flex-1 justify-between w-full h-full">
        <div></div>
        <div class="albumPhotoPageContainer">
            {% renderImage photo.thumbnailLarge, "flex max-w-full" %}
        </div>
        <div class="flex mx-auto justify-end items-center width-control h-[12rem]">
            <p class="w-full text-center mt-4 mb-0">
                {{photo.description}}
            </p>
            <div class="flex-row flex-wrap  justify-center mt-1">
                {% include "tagsList.njk" %}
            </div>
            <div class="flex-row w-full justify-between items-center">
                {% if photo.previous %}
                    <button
                    type="button"
                    class="flex flex-1 link no-underline h-8 items-center  text-lg m-0 pr-4"
                    id="previousPhotoButton"
                >
                    ←
                </button>
                {% else %}
                    <div class="flex flex-1"></div>
                {% endif %}
                <p class="flex flex-1 justify-center tabular-nums m-0">{{photo.indexString}} / {{ photo.albumTotalPhotos }}</p>
                {% if photo.next %}
                    <button
                    type="button"
                    class="flex flex-1 justify-end link no-underline h-8 pl-4 items-cente text-lg m-0"
                    id="nextPhotoButton"
                >
                    →
                </a>
                {% else %}
                    <div class="flex flex-1"></div>
                {% endif %}
            </div>
            <div class="flex-row w-full justify-center items-baseline">
                <a
                        href="{{ photo.albumPermalink | stripIndex }}"
                        class="text-center link m-0 ml-2"
                    >
                        Album
                    </a>
                <p class="mx-2 my-0">-</p>
                <a
                        class="link m-0"
                        href="{{ photo.fullSize.src | prefixCDN }}"
                        target="_blank"
                        rel="noopener"
                    >
                        Original
                    </a>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    const previousPhotoButton = document.getElementById("previousPhotoButton");
    const nextPhotoButton = document.getElementById("nextPhotoButton");

    function goToPreviousPhoto() {
        window
            .history
            .replaceState(null, '', '{{ albums.albumPhotos[photo.previous].permalink | d(' ') }}/')
        location.reload()
    }

    function goToNextPhoto() {
        console.log("goToNextPhoto")
        history.replaceState(null, '', '{{ albums.albumPhotos[photo.next].permalink | d(' ') }}/')
        location.reload()
    }

    function onKeyUp(event) {
        if (event.key === 'Escape') {
            window
                .history
                .back()
        }
        if (event.key === 'ArrowLeft' && previousPhotoButton) {
            goToPreviousPhoto()
        }
        if (event.key === 'ArrowRight' && nextPhotoButton) {
            goToNextPhoto()
        }
    }

    if (previousPhotoButton) {
        previousPhotoButton.addEventListener("click", goToPreviousPhoto);
    }

    if (nextPhotoButton) {
        nextPhotoButton.addEventListener("click", goToNextPhoto);
    }

    window.addEventListener('keyup', onKeyUp)
</script>