---
layout: base
pagination:
  data: blogposts.postOrder
  size: 1
  alias: postKey
permalink: "/{{ blogposts.posts[postKey].permalink }}/index.html"
eleventyComputed: 
  title: "{{ blogposts.posts[postKey].title }}"
  description: "{{ blogposts.posts[postKey].description }}"
  image: "{{ blogposts.posts[postKey].hero.src }}"
  imageAlt: "{{ blogposts.posts[postKey].hero.alt }}"
---
{% set post = blogposts.posts[postKey] %}
<div class="w-full content">
  <h1>{{post.title}}</h1>
  <div class="date-and-readtime">
    <p>
      <time datetime="{{date}}">{{ post.date | formatDate }}</time>
      <span>-</span>
      {{post.content | timeToRead}}</p>
  </div>
  <div class="tags-list mb-4">
    {% include "tagsList.njk" %}
  </div>
  <article>
    {{ post.content | mdToHtml | safe }}
  </article>
</div>
