---
layout: base
pagination:
  data: microblogs.postOrder
  size: 1
  alias: postId
permalink: "{{ microblogs.posts[postId].slug }}/index.html"
eleventyComputed: 
  title: "{{ microblogs.posts[postId].date | formatDateTime }}"
  description: "{{ microblogs.posts[postId].title }}"
---
{% set post = microblogs.posts[postId] %}
<div class="width-control mx-auto">
  <h1 class="flex flex-row">
    <time class="secondary pageTitle text-xl" datetime="{{date}}">{{ post.date | formatDateTime }}</time>
  </h1>
  <div class="w-full content">
    {{ post.content | mdToHtml | safe }}
  </div>
  <div class="flex flex-wrap">
    {% for tag in post.tags %}
      <a href="/tags/{{ tag | slugify }}" class="link secondary mr-2">
         #{{ tag | cleanTag }}
      </a>
    {% endfor %}
  </div>
</div>