---
layout: base
pagination:
  data: micros.postOrder
  size: 1
  alias: postId
permalink: "{{ micros.posts[postId].slug }}/index.html"
eleventyComputed: 
  title: "{{ micros.posts[postId].date | formatDateTime }}"
  description: "{{ micros.posts[postId].title }}"
---
{% set post = micros.posts[postId] %}
<div class="width-control mx-auto">
  <h1 class="flex flex-row mb-4 pageTitle text-lg secondary">
    <time class="pageTitle text-lg secondary" datetime="{{date}}">{{ post.date | formatDateTime }}</time>
  </h1>
  {% if post.type == 'microblog' or post.type == 'micro' %}
    <div class="w-full content">
      {{ post.content | mdToHtml | safe }}
    </div>
    <div class="flex flex-wrap mt-12">
      {% for tag in post.tags %}
        <a href="/tags/{{ tag | slug }}" class="link secondary mr-2">
         #{{ tag }}
        </a>
      {% endfor %}
    </div>
  {% endif %}
  {% if post.type == 'mastodon' %}
    <div class="w-full content">
      {{ post.content | mdToHtml | safe }}
      {% for media in post.media %}
        {% renderMedia media, "my-4" %}
      {% endfor %}
    </div>
    <div class="flex flex-wrap mt-12">
      {% for tag in post.tags %}
        <a href="/tags/{{ tag | slug }}" class="link secondary mr-2">
         #{{ tag }}
        </a>
      {% endfor %}
    </div>
  {% endif %}
  {% if post.type == 'statuslol' %}
    <div class="flex items-start mb-12">
      <p class="my-0 mr-4 mt-[-.25rem] w-5 h-5 text-2xl text-left">{{ post.emoji }}</p>
      <p class='my-0'>{{ post.content | linkifyMarkdown | safe }}</p>
    </div>
  {% endif %}
  {% if post.originalUrl %}
    <p class="mt-4 mb-0">See original <a href="{{ post.originalUrl }}" class="link" target="_blank" rel="me">{{ post.originalUrl }}</a>
    </p>
  {% endif %}
</div>