---
layout: base
pagination:
  data: movies.moviesByWatchDate
  size: 1
  alias: movieKey
permalink: "/{{ movies.movies[movieKey].permalink }}/index.html"
eleventyComputed: 
  title: "{{ movies.movies[movieKey].title }}"
  description: "{{ movies.movies[movieKey].averageScore }}/5"
  image: "{{ movies.movies[movieKey].posterUrl }}"
  imageAlt: "{{ movies.movies[movieKey].title }} movie poster"
---
{% set movie = movies.movies[movieKey] %}
<div class="page-header tv-movie-header">
  {# <div class="tv-move-image-and-average"> #}
  <a href="https://www.themoviedb.org/movie/{{ movie.themoviedbId }}" target="_blank" rel="noopener noreferrer">
    <img src="https://image.tmdb.org/t/p/w400{{ movie.posterUrl }}" alt="{{ movie.name }}">
    <h1>{{movie.title}}</h1>
  </a>
  <p class="year">({{ movie.year }})</p>

  <p>{{ movie.averageScore }}/5</p>
</div>
<div class="tv-movie-reviews">
  <div class="reviews">
    <div class="justify-start w-full">
      {% for review in movie.reviews %}
        <hr />
        <div class="review">
          {% if review.review %}
            <div class="content">
              {{ review.review | mdToHtml | safe }}
            </div>
          {% endif %}
          <div class="score-and-date">
            <p class="my-0">{{ review.score }}/5</p>
            <a href="{{ review.postPermalink }}" class="my-0 mt-2">{{ review.date | formatDateTime }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>