---
layout: base
pagination:
    data: albums.tags
    size: 1
    alias: tag
permalink: "/photos/tags/{{ tag.tag }}/index.html"
eleventyComputed:
    title: "#{{ tag.tag }} Photos"
    description: "Photos tagged with #{{ tag.tag }}"
    image: "{{ tag.albums[0].photos[0].thumbnailSmall.url }}"
---
{{ tag.albums[0].photos[0].thumbnailSmall.url | dump }}
<div class="width-control mx-auto pb-4">
    <h2 class="pageTitle text-red-500">#{{tag.tag}} Photos</h2>
</div>
{%- for album in tag.albums %}
    <div class="mb-4 mx-auto">
        <h3 class="text-sm pb-2 sm:ml-2">
            <a href="{{ album.permalink | stripIndex }}" class="link">{{ album.date }} - {{ album.title }}
            </a>
        </h3>
        {% set photos = album.photos %}
        {% include 'photoGrid.njk' %}
    </div>
{% endfor %}