---
layout: base
pagination:
  data: taggedPosts.allTags
  size: 1
  alias: tag
permalink: "/tags/{{ tag | slug }}/index.html"
eleventyComputed:
    title: "#{{ tag }} posts"
---
<div class="flex-row justify-between items-baseline">
  <h1 class="pageTitle mb-4">{{ title }}</h1>
  <a href="/tags/" class="link sm:hidden">All tags</a>
</div>
<div/>
{%- for postKey in taggedPosts.postsByTag[tag] %}
  {%- set post = allPosts.posts[postKey] %}
  {% include "timelinePost.njk" %}
{% endfor %}