---
layout: page
pagination:
  data: timeline.allTags
  size: 1
  alias: tag
permalink: "/tags/{{ tag }}/index.html"
eleventyComputed:
    title: "#{{ tag }} posts"
---
{%- for entityId in timeline.entitiesByTag[tag] %}
  {%- set post = timeline.entities[entityId] %}
  {% include "timelinepost.njk" %}
{% endfor %}