---
layout: base
pagination:
  data: toots.postOrder
  size: 1
  alias: postId
permalink: "/micros/{{ toots.posts[postId].slug }}/index.html"
eleventyComputed: 
  title: "{{ toots.posts[postId].date }}"
  description: "{{ toots.posts[postId].title }}"
---
{% set post = toots.posts[postId] %}
<div class="width-control mx-auto">
  <h1 class="flex flex-row">
    <time class="secondary pageTitle" datetime="{{date}}">{{ post.date | formatDateTime }}</time>
  </h1>
  <div class="w-full content">
    {{ post.content | mdToHtml | safe }}
  </div>
  <div class="flex flex-wrap">
    {% for tag in post.tags %}
      <a href="/tags/{{ tag | slugify }}" class="link secondary mr-2">
                    #{{ tag | cleanTag }}
      </a>
    {% endfor %}
  </div>
</div>