---
layout: base
pagination:
  data: tv.tvShowsByWatchDate
  size: 1
  alias: tvShowKey
permalink: "/{{ tv.tvShows[tvShowKey].permalink }}/index.html"
eleventyComputed: 
  title: "{{ tv.tvShows[tvShowKey].title }}"
  description: "{{ tv.tvShows[tvShowKey].averageScore }}/5"
  image: "{{ tv.tvShows[tvShowKey].posterUrl }}"
  imageAlt: "{{ tv.tvShows[tvShowKey].title }} movie poster"
---
{% set tvShow = tv.tvShows[tvShowKey] %}
<div class="flex-row">
  <div>
    <a class="my-0" href="https://www.themoviedb.org/tv/{{ tvShow.themoviedbId }}" target="_blank" rel="noopener noreferrer">
      <img src="https://image.tmdb.org/t/p/w400{{ tvShow.posterUrl }}" alt="{{ movie.name }}" class="max-w-[6rem] min-w-[6rem] hobbyGridItemImage sm:max-w-[16rem] sm:min-w-[16rem]">
    </a>
    <p class="my-2">Average: {{ tvShow.averageScore }}/5</p>
  </div>
  <div class="ml-4 justify-between w-full">
    <div class="justify-start w-full">
      <div class="flex-col mb-0 sm:flex-row">
        <h1 class="pageTitle">{{tvShow.title}}</h1>
      </div>
      <div>
        {% for season in tvShow.seasons %}
          <h2 class="text-lg">Season: {{season.season}}</h2>
          {% for review in season.reviews %}
            {% if review.review %}
              <div class="content">
                {{ review.review | mdToHtml | safe }}
              </div>
            {% endif %}
            <p class="my-0">{{ review.score }}/5</p>
            <a href="{{ review.postPermalink }}" class="my-0 mt-2">{{ review.date | formatDateTime }}</a>
            <hr/>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>