---
layout: page
pagination:
  data: years.years
  size: 1
  alias: year
permalink: "/years/{{ year }}/index.html"
eleventyComputed:
    title: "{{ year }} posts"
---
{%- for entityId in years.entitiesByYear[year] %}
  {%- set post = all.entities[entityId] %}
  {% include "timelinepost.njk" %}
{% endfor %}