@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html {
        font-size: 16px;
    }

    * {
        /* @apply transition-colors duration-500; */
        font-family: 'Atkinson Hyperlegible', sans-serif, ui-sans-serif,
            system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
            'Noto Color Emoji';
        font-display: swap;
    }

    body {
        @apply bg-background dark:bg-background-dark;
    }

    .width-control {
        @apply w-[68ch] max-w-[100%];
    }

    .text {
        @apply text-text dark:text-text-dark tabular-nums break-words leading-[1.75rem];
        /* font-family: 'Atkinson Hyperlegible', sans-serif; */
    }

    .accent {
        @apply text-accent dark:text-accent-dark decoration-accent dark:decoration-accent-dark;
    }

    .under {
        @apply underline;
        /* text-underline-offset: 0.25rem; */
        /* text-underline-offset: 0.21rem; */
        text-underline-offset: 0.1em;
    }

    .link {
        @apply hover:under hover:text-accent dark:hover:text-accent-dark hover:decoration-accent dark:hover:decoration-accent-dark;
    }

    .secondary {
        @apply !text-secondary dark:!text-secondary-dark;
    }

    .pageTitle {
        @apply text-2xl sm:text-4xl font-bold mb-2;
    }

    .wide {
        /* @apply mx-auto p-2 max-w-[102ch]; */
    }

    .tag {
        @apply secondary under link;
    }

    .main {
        @apply w-full px-4 py-2;
    }

    hr {
        @apply border-border dark:border-border-dark my-6 mx-0 last-of-type:hidden;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    time {
        @apply text;
    }

    div,
    nav,
    footer,
    article {
        @apply flex flex-col;
    }

    .mainPageHeading {
        @apply text-2xl font-bold mb-2;
    }

    .mainPageBlock {
        @apply my-6;
    }

    .content {
        @apply prose prose-stone prose-zoe dark:prose-invert max-w-none;
        @apply prose-code:rounded prose-code:pt-[.1rem] prose-code:pb-[.15rem] prose-code:px-[.35rem] prose-code:before:content-[] prose-code:after:content-[]; /** prose-code:bg-code dark:prose-code:bg-code-dark prose-pre-code:bg-none; */
        /* @apply prose-a:text-accent dark:prose-a:text-accent-dark; */

    }

    .content h2,
    .content h3,
    .content h4,
    .content h5,
    .content h6 {
        @apply mt-6 mb-0;
    }

    .content p {
        @apply my-2;
    }

    .content ul,
    .content ol {
        @apply my-2;
    }

    .content a {
        @apply under link;
    }

    .content blockquote {
        @apply my-2;
    }

    .content blockquote p {
        @apply my-2;
    }

    .content img {
        @apply my-2;
    }

    :not(pre) > code {
        @apply bg-code dark:bg-code-dark pt-[.05rem] pb-[.1rem] px-[.3rem] rounded !font-normal;
        font-size: 90%;
    }

    .image-wrapper {
        /* @apply block max-w-full h-auto max-h-full mx-auto !object-contain; */
        /* margin-block-end: 1em; */
    }

    .header-link-icon {
        /* @apply mt-9 h-5 flex items-center; */
    }

    .photogrid {
        @apply w-full grid gap-x-2 gap-y-4 mx-auto px-0 grid-cols-2 sm:grid-cols-4 sm:gap-y-2 md:grid-cols-6;
    }

    .photogrid > img {
        @apply m-0;
    }

    .albumPhotoPageContainer {
        max-height: calc(100vh - 5rem);
    }

    .albumPhotoPageContainer img {
        max-height: calc(100vh - 30rem);
        max-width: 100%;
    }

    .hobbyGridItemImage {
        @apply border-[#00000000] border-2 hover:border-accent dark:hover:border-accent-dark rounded-md;
    }
}
