@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html {
        font-size: 17px;
        font-family: 'Atkinson Hyperlegible', sans-serif, ui-sans-serif,
            system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
            'Noto Color Emoji';
        font-display: swap;
    }

    body {
        @apply bg-background transition-colors duration-500;
    }

    .width-control {
        @apply w-[68ch] max-w-[100%];
    }

    .text {
        @apply text-text tabular-nums break-words transition-colors duration-500 my-4 leading-[1.6rem];
        font-family: 'Atkinson Hyperlegible', sans-serif;
    }

    .accent {
        @apply text-accent decoration-accent;
    }

    .under {
        @apply underline;
        text-underline-offset: 0.25rem;
        /* text-underline-offset: 0.21rem; */
        /* text-underline-offset: 0.175rem; */
    }

    .link {
        @apply text accent hover:under hover:text-accent hover:decoration-accent transition-colors;
    }

    .button {
        @apply text-lg no-underline py-[.2rem] px-2 border-2 text-accent border-accent rounded-md hover:text-background hover:hover:bg-accent hover:transition-colors;
    }

    .secondary {
        @apply text-secondary;
    }

    .pageTitle {
        @apply text-2xl my-0 sm:text-3xl;
    }

    .wide {
        @apply mx-auto p-2 max-w-[102ch];
    }

    .borderColor {
        @apply border-border;
    }

    .main {
        @apply flex flex-col max-w-full mx-auto pt-4 pb-4 px-4 sm:px-0 sm:pt-8;
    }

    hr {
        @apply borderColor my-6 mx-0 last-of-type:hidden;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    time {
        @apply text;
    }

    /* :not(div) + p {
        @apply mt-0;
    } */

    h1 {
        @apply text-headings;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    div + h3 {
        @apply mt-0;
    }

    a {
        @apply m-0 link;
    }

    div {
        @apply flex flex-col;
    }

    .mainPageHeading {
        @apply text-3xl mt-6;
    }

    .mainPageBlock {
        @apply my-6;
    }

    .about > p:last-of-type {
        @apply mb-0;
    }

    .content {
        @apply block;
    }

    .content img {
        @apply mx-auto my-4;
    }

    .content :not(.photogrid) img + img {
        @apply mt-4;
    }

    .content img:last-child {
        @apply mb-4;
    }

    .content > *:first-child {
        @apply mt-0;
    }

    .content h2,
    .content h3,
    .content h4,
    .content h5,
    .content h6 {
        @apply mt-8 mb-2 text-headings;
    }

    .content a {
        @apply under;
    }

    p a,
    li a {
        @apply link;
    }

    em {
        @apply italic text;
    }

    time {
        @apply m-0 p-0;
    }

    ul,
    ol {
        @apply my-4 mb-8 mx-8 text;
    }

    ol {
        @apply list-decimal text;
    }

    ul {
        @apply list-disc;
    }

    ul,
    ol > li > ul,
    ol {
        @apply my-0;
    }

    li {
        @apply ml-1.5 mb-3;
    }

    li p {
        @apply my-0;
    }

    code {
        @apply my-1 !font-normal table-fixed overflow-x-scroll !border-0;
    }

    pre {
        @apply flex-1 table-fixed !border-0;
    }

    :not(pre) > code {
        @apply font-bold;
    }

    pre > code {
        @apply !text-[10pt];
    }

    table {
        table-layout: fixed;
        width: 100%;
        margin: 0.5rem auto;
        padding: 0;
        border: 1px solid #444;
        border-collapse: collapse;
    }

    table > tr {
        /* background-color: $data-background-light;
        border: 1px solid $border-light;
        padding: 0.25em; */
    }

    table > thead {
        text-transform: uppercase;
    }

    table > th,
    table > td {
        padding: 0.5em;
        text-align: center;
    }

    table > th {
        font-weight: bold;
    }

    blockquote {
        @apply bg-tag flex flex-col border-l-4 border-l-accent;
        margin: 0.5rem 0 1.5rem;
        padding: 0.75em 1.25em;
    }

    blockquote > p {
        @apply text italic font-bold;
    }

    blockquote cite {
        @apply flex text mt-1 before:content-['-'] before:mr-1;
    }

    img {
        @apply max-w-full max-h-full w-auto h-auto object-contain;
    }

    .image-wrapper {
        @apply block max-w-full h-auto max-h-full mx-auto !object-contain;
        margin-block-end: 1em;
    }

    .header-link-icon {
        @apply mt-9 h-5 flex items-center;
    }

    .photogrid {
        @apply w-full grid gap-x-2 gap-y-4 mx-auto px-0 grid-cols-2 sm:grid-cols-4 sm:gap-y-2 md:grid-cols-6;
    }

    .photogrid > img {
        @apply m-0;
    }

    .albumPhotoPageContainer {
        /* max-height: 40rem; */
    }

    .albumPhotoPageContainer img {
        max-height: calc(100vh - 20rem);
        max-width: 100%;
    }

    .statuslol_container {
        @apply flex;
    }

    .statuslol {
        @apply flex flex-row items-center;
    }

    .statuslol_emoji_container {
        @apply max-h-8 aspect-square mr-2;
    }

    .statuslol_emoji {
    }

    .statuslol_content {
    }

    .statuslol_time {
        @apply text secondary;
    }

    .statuslol_time > a {
        @apply text secondary underline;
    }
}
