@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* ---------------- Core ---------------- */

    html {
        font-size: 17px;
    }

    * {
        font-family: 'Atkinson Hyperlegible', sans-serif, ui-sans-serif,
            system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
            'Noto Color Emoji';
        font-display: swap;
    }

    body {
        @apply bg-background dark:bg-background-dark;
    }

    /* ----------------  Utilities ---------------- */

    .width-control {
        @apply w-[68ch] max-w-[100%] px-4;
    }

    .text {
        @apply text-text dark:text-text-dark tabular-nums break-words leading-[1.75rem];
    }

    .accent {
        @apply text-accent dark:text-accent-dark decoration-accent dark:decoration-accent-dark;
    }

    .no-accent {
        @apply text-text dark:text-text-dark decoration-text dark:decoration-text-dark;
    }

    .under {
        @apply underline hover:!underline;
        text-underline-offset: 0.15em;
        text-decoration-thickness: 1px;
    }

    .link {
        @apply under text-accent dark:text-accent-dark decoration-accent dark:decoration-accent-dark;
    }

    .secondary {
        @apply !text-secondary dark:!text-secondary-dark !decoration-secondary dark:!decoration-secondary-dark;
    }

    .border-color {
        @apply border-border dark:border-border-dark;
    }

    main {
        @apply w-full;
    }

    hr {
        @apply border-border dark:border-border-dark my-6 mx-0 last-of-type:hidden;
    }

    div,
    nav,
    footer,
    article {
        @apply flex flex-col;
    }

    /* ----------------  Typography ---------------- */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    time,
    li {
        @apply text;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    li,
    blockquote,
    img,
    pre {
        @apply my-2;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold mt-6 mb-0;
    }

    h1 {
        @apply text-3xl mt-0;
    }

    h2 {
        @apply text-lg;
    }

    h3 {
        @apply text-lg;
    }

    h4,
    h5,
    h6 {
        @apply text-sm;
    }

    a {
        @apply accent under;
    }

    ol {
        @apply list-decimal list-inside;
    }

    ul {
        @apply list-disc list-inside;
    }

    li > ul > li,
    li > ol > li {
        @apply ml-4;
    }

    blockquote {
        @apply border-l-4 border-accent dark:border-accent-dark pl-4;
    }

    :not(pre) > code {
        @apply bg-code dark:bg-code-dark pt-[.05rem] pb-[.1rem] px-[.3rem] rounded !font-normal;
        font-size: 90%;
    }

    pre {
        @apply bg-code dark:bg-code-dark pt-[.05rem] pb-[.1rem] px-[.3rem] rounded !font-normal overflow-x-scroll;
        font-size: 90%;
    }

    /* ----------------  Common ---------------- */

    .toggle-button {
        @apply cursor-pointer text-neutral-400 dark:text-neutral-500 rotate-180 dark:rotate-0 transition-all duration-100;
    }

    .date-and-readtime {
        @apply secondary mt-2;

        & time {
            @apply secondary;
        }

        & span {
            @apply secondary;
        }

        & p {
            @apply secondary my-0;
        }
    }

    .tags-list {
        @apply flex-row flex-wrap;

        & .tag {
            @apply secondary under link mr-2 my-0 py-0 last-of-type:mr-0;
        }
    }

    .image-wrapper {
        /* @apply block max-w-full h-auto max-h-full mx-auto !object-contain; */
        /* margin-block-end: 1em; */
    }

    .header-link-icon {
        /* @apply mt-9 h-5 flex items-center; */
    }

    .photogrid {
        @apply w-full grid gap-x-2 gap-y-4 mx-auto px-0 grid-cols-2 sm:grid-cols-4 sm:gap-y-2 md:grid-cols-6;
        img {
            @apply m-0;
        }
    }

    nav {
        @apply sticky top-0 justify-center items-baseline h-[3rem] mb-4 bg-background dark:bg-background-dark border-b border-color z-10 md:flex-row md:justify-between;

        & .name-and-buttons {
            @apply width-control flex-row justify-between items-center mx-auto md:w-auto md:mx-0;

            & .mobile-nav-toggle {
                @apply w-8 h-full justify-center items-center ml-2 md:hidden mb-1;

                & p {
                    @apply text-center m-0 p-0 text-3xl accent;
                }
            }

            & .name-and-toggle {
                @apply w-full flex-row justify-start items-center font-normal md:w-auto;

                & .name {
                    @apply text-3xl h-full text-left my-0 mr-4 no-underline md:my-1;
                }
            }
        }

        & .link {
            @apply accent !no-underline hover:!under;
        }

        & .mobile-nav-container {
            @apply absolute top-[3rem] pt-2 bg-background dark:bg-background-dark transition-all border-r border-color md:hidden;

            left: calc(-7.5rem);
            height: calc(100vh - 3rem);

            & .link {
                @apply my-2 pl-5 w-[7.2rem];
                @apply my-2 pl-5 w-[7.2rem];
            }
        }

        & .show {
            @apply left-0;
        }

        & .side-links {
            @apply flex-row w-full justify-end hidden sm:flex;

            & .link {
                @apply accent ml-4;
            }
        }

        & .links {
            @apply hidden md:inline-flex flex-row;

            & .link {
                @apply mt-0 mx-1 lg:mx-2;

                &:last-of-type {
                    @apply mr-4;
                }
            }
        }
    }

    footer {
        @apply max-w-full width-control mt-12 p-2 mx-auto items-center border-t border-t-border;

        & a {
            @apply my-0;
        }

        & > div {
            @apply flex-row flex-wrap justify-center my-2;
        }

        & p {
            @apply mx-0.5 my-0 text-center;
        }

        & span {
            @apply text mx-2 my-0;
        }
    }

    /* ----------------  Page specific ---------------- */

    .albumPhotoPageContainer {
        max-height: calc(100vh - 5rem);

        img {
            max-height: calc(100vh - 30rem);
            max-width: 100%;
        }
    }

    .hobbyGridItemImage {
        @apply border-[#00000000] border-2 hover:border-accent dark:hover:border-accent-dark rounded-md;
    }

    .homePageBlock {
        @apply my-2;

        & h2 {
            @apply mt-4;
        }

        & .see-more {
            @apply mt-2;
        }
    }

    .blogPostItem {
        @apply mt-2 flex-col sm:flex-row;

        & a {
            @apply flex flex-1 my-0;
        }

        & h3 {
            @apply accent font-normal mt-0 under text-lg;
        }

        & time {
            @apply flex secondary;
        }
    }

    .timeline-post {
        & .timestamp {
            @apply mt-0;

            & > time {
                @apply accent;
            }
        }

        & .media {
            @apply flex flex-row justify-start my-2;

            & > .media-grid {
                @apply grid gap-x-1 grid-cols-2 overflow-hidden;
            }
            & img {
                @apply w-full h-full object-contain;
            }
        }

        .album-links {
            @apply flex-row items-baseline mb-2;

            & .dash {
                @apply mx-2 my-0;
            }
        }
    }

    .wide {
        @apply w-[102ch] max-w-[100%] px-4 mx-auto;
    }
}
