<a
    href="{{ post.slug().relative_link() }}"
    rel="noopener"
    class="!no-underline mb-0"
>
    <h2>{{ blog_post.title }}</h2>
</a>
{% match blog_post.hero_image %} {% when Some with (hero) %}
<div class="media">
    <img
        src="{{ hero.cdn_url() }}"
        alt="{{ hero.alt }}"
        width="{{ hero.dimensions.width }}"
        height="{{ hero.dimensions.height }}"
        title="{{ hero.title() }}"
    />
</div>
{% when None %} {% endmatch %}
{{ blog_post.description.to_html()|safe }}
