<li class="omni-post">
    <div class="post">
        <a href="{{ post.link() }}" rel="noopener" class="timestamp">
            <time datetime="{{ post.date().datetime() }}">
                {{ post.date().without_time() }}
            </time>
        </a>

        <div class="prose">
            {% match post %}
            {% when Post::BlogPost with (blog_post) %}
            {% include "posts/post_list/post_list_item_blog_post.html" %}
            {% when Post::MicroPost with (content_and_media) %}
            {% include "posts/post_list/post_list_item_with_content_and_media.html" %}
            {% when Post::MastodonPost with (content_and_media) %}
            {% include "posts/post_list/post_list_item_with_content_and_media.html" %}
            {% when Post::AlbumPhoto with { album, photo } %}
            {% include "posts/post_list/post_list_item_album_photo.html" %}
            {% when Post::Album with (album) %}
            {% include "posts/post_list/post_list_item_album.html" %}
            {% when Post::SteamAcheivementUnlocked with { achievement, game } %}
            {% include "posts/post_list/post_list_item_steam_achievement_unlocked.html" %}
            {% when Post::MovieReview with (review) %}
            {% include "posts/post_list/post_list_item_movie_review.html" %}
            {% when Post::TvShowReview with (review) %}
            {% include "posts/post_list/post_list_item_tv_show_review.html" %}
            {% when Post::BookReview with (review) %}
            {% include "posts/post_list/post_list_item_book_review.html" %}
            {% endmatch %}
        </div>

        {% let tags = post.tags() %}
        {% include "partials/tags_list.html" %}
    </div>

    {% match post.side_image() %}
    {% when Some with (image) %}
    <div class="image">
        {% include "partials/media/image.html" %}
    </div>
    {% when None %}
    {% endmatch %}
</li>
