{% extends "partials/page.html" %}
{%- block header %}
<div class="page-header mb-4">
    <h1>
        <time class="title-font" datetime="{{post.date.datetime()}}">{{post. date.without_time() }}</time>
    </h1>
    {%- if post.tags.len() > 0 %}
        <div class="my-4">
            {% let tags = post.tags.clone() %}
            {% include "partials/tags_list.html" %}
        </div>
    {%- endif %}
</div>
{% endblock %}
{%- block content %}
<article>
    {{ post.content().remove_media().to_html()|safe}}

    {% let media = post.media() %}
    {% for media in media %}
        {% include "partials/media/media.html" %}
    {% endfor %}
    </article>
{% endblock %}
