{% extends "partials/page.html" %}

{%- block content %}
<article class="micro-post">
    <div class="page-header">
        <h1>
            <time class="title-font" datetime="{{post.date.datetime()}}">{{post. date.without_time() }}</time>
        </h1>
        {%- if post.tags.len() > 0 %}
            <div class="tags-list my-4" data-nosnippet>
                {% let tags = post.tags.clone() %}
                {% include "partials/tags_list.html" %}
            </div>
        {%- endif %}
    </div>
    {{ post.content().remove_media().to_html()|safe}}

    {% let media = post.media() %}
    {% for media in media %}
        {% include "partials/media/media.html" %}
    {% endfor %}
    </article>
{% endblock %}
