---
layout: page
pagination:
  data: blogposts.postOrder
  size: 1
  alias: postKey
permalink: "/{{ blogposts.posts[postKey].permalink }}/index.html"
eleventyComputed: 
  title: "{{ blogposts.posts[postKey].title }}"
  description: "{{ blogposts.posts[postKey].description }}"
  image: "{{ blogposts.posts[postKey].hero.src }}"
  imageAlt: "{{ blogposts.posts[postKey].hero.alt }}"
  date: "{{ blogposts.posts[postKey].date }}"
  tags: "{{ blogposts.posts[postKey].tags }}"
  readTime: "{{ blogposts.posts[postKey].content | timeToRead }}"
---

{% set post = blogposts.posts[postKey] %}
{{ post.content | mdToHtml | safe }}