---
layout: page
pagination:
  data: taggedPosts.allTags
  size: 1
  alias: tag
permalink: "/tags/{{ tag | slug }}/index.html"
disableFind: true
eleventyComputed:
    title: "#{{ tag }} posts"
    headerTitle: "{{ tag | spaceTag}} Posts"
---
{%- for postKey in taggedPosts.postsByTag[tag] %}
  {%- set post = allPosts.posts[postKey] %}
  {% include "timelinePost.njk" %}
{% endfor %}