@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/static/fonts/Atkinson-Hyperlegible-Regular-102a.woff2')
        format('woff2');
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/static/fonts/Atkinson-Hyperlegible-Bold-102a.woff2')
        format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/static/fonts/Atkinson-Hyperlegible-Italic-102a.woff2')
        format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/static/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2')
        format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'WilcoLoftSans';
    src: url('/static/fonts/WilcoLoftSans-Treble.woff2') format('woff2');
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@layer components {
    /* ---------------- Core ---------------- */

    html {
        font-size: 16px;
    }

    * {
        font-family: 'Atkinson Hyperlegible', sans-serif, ui-sans-serif,
            system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
            'Noto Color Emoji';
        font-display: swap;
    }

    body {
        @apply bg-background dark:bg-background-dark;
    }

    /* ----------------  Utilities ---------------- */

    .width-control {
        @apply w-[68ch] max-w-[100%] px-4 md:px-0;
    }

    .text {
        @apply text-text dark:text-text-dark tabular-nums break-words leading-[1.75rem];
    }

    .accent {
        @apply text-accent dark:text-accent-dark decoration-accent dark:decoration-accent-dark;
    }

    .no-accent {
        @apply text-text dark:text-text-dark decoration-text dark:decoration-text-dark;
    }

    .under {
        @apply underline hover:!underline;
        text-underline-offset: 0.15em;
        text-decoration-thickness: 1px;
    }

    .link {
        @apply under text-accent dark:text-accent-dark decoration-accent dark:decoration-accent-dark;
    }

    .secondary {
        @apply !text-secondary dark:!text-secondary-dark !decoration-secondary dark:!decoration-secondary-dark;
    }

    .border-color {
        @apply border-border dark:border-border-dark;
    }

    main {
        @apply w-full;
    }

    hr {
        @apply border-border dark:border-border-dark my-4 mx-0;
    }

    div,
    nav,
    footer,
    article {
        @apply flex flex-col;
    }

    /* ----------------  Typography ---------------- */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    time,
    li {
        @apply text;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    li,
    blockquote,
    img,
    pre {
        @apply my-2;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'WilcoLoftSans';
        font-display: swap;
        @apply mt-8 mb-0;
        letter-spacing: 0.025rem;
    }

    h1 {
        @apply text-4xl md:text-6xl mt-0;
    }

    h2 {
        @apply text-2xl md:text-3xl;
    }

    h3 {
        @apply text-xl;
    }

    h4,
    h5,
    h6 {
        @apply text-lg;
    }

    a {
        @apply accent under;
    }

    ol {
        @apply list-decimal list-inside;
    }

    ul {
        @apply list-disc list-inside;
    }

    li > ul > li,
    li > ol > li {
        @apply ml-4;
    }

    blockquote {
        @apply border-l-4 border-accent dark:border-accent-dark pl-4;
    }

    :not(pre) > code {
        @apply bg-code dark:bg-code-dark pt-[.05rem] pb-[.1rem] px-[.3rem] rounded !font-normal;
        font-family: 'Fira Code', 'JetBrains Mono', 'Source Code Pro', 'Courier New', monospace;
    }

    pre {
        @apply bg-code dark:bg-code-dark pt-[.45rem] pb-[.5rem] px-[.6rem] rounded !font-normal overflow-x-auto;
        font-family: 'Fira Code', 'JetBrains Mono', 'Source Code Pro', 'Courier New', monospace;
    }

    p:first-of-type {
        @apply mt-0;
    }

    p > img {
        @apply mx-auto;
    }

    img {
        @apply text-text dark:text-text-dark;
    }

    pre > code {
        @apply text-text dark:text-text-dark;
    }

    /* ----------------  Common ---------------- */

    .toggle-button {
        @apply cursor-pointer text-neutral-400 dark:text-neutral-500 rotate-180 dark:rotate-0 transition-all duration-100;
    }

    .date-and-readtime {
        @apply secondary mt-2;

        & time {
            @apply secondary;
        }

        & span {
            @apply secondary;
        }

        & p {
            @apply secondary my-0;
        }
    }

    .tags-list {
        @apply flex-row flex-wrap;

        & .tag {
            @apply secondary under link mr-2 my-0 py-0 last-of-type:mr-0;
        }
    }

    .image-wrapper {
        /* @apply block max-w-full h-auto max-h-full mx-auto !object-contain; */
        /* margin-block-end: 1em; */
    }

    .header-link-icon {
        /* @apply mt-9 h-5 flex items-center; */
    }

    .photogrid {
        @apply w-full grid gap-x-2 gap-y-4 mx-auto px-0 grid-cols-2 sm:grid-cols-4 sm:gap-y-2 md:grid-cols-6;
        grid-auto-rows: 1fr;

        & .grid-element {
            @apply flex flex-col justify-center items-center;
        }

        & .landscape {
            @apply col-span-2 row-span-1;
        }

        & .portrait {
            @apply col-span-1 row-span-1 object-cover my-[-8%];

            & img {
                @apply h-[92%];
            }
        }

        & img,
        & a {
            @apply m-0 p-0 max-h-full;
        }

        & a {
            @apply flex justify-center items-center;
        }
    }

    nav {
        @apply sticky top-0 justify-center items-center h-[3.2rem] pt-1 bg-background dark:bg-background-dark border-b border-color z-10 md:h-[4rem];

        & .nav-wrapper {
            @apply w-full items-baseline md:flex-row md:justify-between md:px-4 md:max-w-[60rem];
        }

        & .name-and-buttons {
            @apply width-control flex-row justify-between items-center mx-auto md:w-auto md:mx-0;

            & .mobile-nav-toggle {
                @apply w-8 h-full justify-center items-center ml-2 md:hidden mb-1;

                & p {
                    @apply text-center m-0 p-0 text-3xl accent;
                }
            }

            & .name-and-toggle {
                @apply w-full flex-row justify-start items-center font-normal md:w-auto;

                & .name {
                    @apply text-3xl h-full text-left my-0 mr-2 no-underline md:my-1;

                    &:hover {
                        .forename,
                        .surname {
                            @apply under;
                        }
                    }

                    & .forename {
                        @apply no-underline;
                    }

                    & .surname {
                        @apply md:hidden lg:inline-flex;
                    }
                }
            }
        }

        & .link {
            @apply accent !no-underline hover:!under;
        }

        & .mobile-nav-container {
            @apply absolute top-[3rem] pt-2 bg-background dark:bg-background-dark transition-all border-r border-color md:hidden;

            left: calc(-7.5rem);
            height: calc(100svh - 3rem);

            & .link {
                @apply my-2 pl-5 w-[7.2rem];
                @apply my-2 pl-5 w-[7.2rem];
            }
        }

        & .show {
            @apply left-0;
        }

        & .side-links {
            @apply flex-row w-full justify-end hidden sm:flex;

            & .link {
                @apply accent ml-4;
            }
        }

        & .links {
            @apply hidden md:inline-flex flex-row;

            & .link {
                @apply mt-0 mx-2;

                &:last-of-type {
                    @apply mr-4;
                }
            }
        }
    }

    footer {
        @apply max-w-full width-control mt-12 p-2 mx-auto items-center border-t border-t-border dark:border-t-border-dark;

        & a {
            @apply my-0;
        }

        & > div {
            @apply flex-row flex-wrap justify-center my-2;
        }

        & p {
            @apply mx-0.5 my-0 text-center;
        }

        & span {
            @apply text mx-2 my-0;
        }
    }

    .blog-posts {
        @apply grid gap-y-4 grid-cols-1 mt-4;

        & .blog-post-item {
            @apply flex-col;

            & .hero {
                @apply w-full justify-center items-start rounded overflow-hidden mt-4 mb-2;

                & img {
                    @apply w-full h-[16rem] object-contain p-0 m-0;
                }
            }

            & .title-and-date {
                @apply flex-col justify-between items-baseline md:flex-row md:items-baseline;

                & .date {
                    @apply secondary;
                }
            }

            & a {
                @apply flex flex-1 my-0 no-underline;
            }

            & h3 {
                @apply accent font-normal mt-0 text-2xl;
            }

            & .description {
                @apply hidden md:inline-flex mb-0;
            }

            & .time-to-read-and-tags {
                @apply flex-row justify-start items-baseline;
            }

            & .time-to-read {
                @apply hidden secondary mt-0 md:inline-flex;
            }

            & .tags-list {
                /* @apply ml-2; */
            }
        }

        & hr {
            @apply my-0;
        }
    }

    .page-header {
        @apply flex flex-col justify-center items-center w-full mt-6 mb-6 md:mt-[4rem] md:mb-[4rem] md:items-center;

        & h1 {
            @apply text-center;
        }

        & .tags-list {
            @apply my-0 md:max-w-[24rem] md:justify-center;
        }
    }

    /* ----------------  Page specific ---------------- */

    .albumPhotoPageContainer {
        max-height: calc(100vh - 5rem);

        & img {
            max-height: calc(100vh - 30rem);
            max-width: 100%;
        }
    }

    .hobbyGridItemImage {
        @apply border-[#00000000] border-2 hover:border-accent dark:hover:border-accent-dark rounded-md;
    }

    .home-header {
        @apply items-center md:mb-[4.5rem];

        .name-and-cursor {
            @apply flex-row justify-center items-baseline h-[6rem];

            .home-name {
                @apply text-[3rem] md:text-[5rem] mt-0 text-center;
            }

            .name-cursor {
                @apply ml-[.01rem] h-[2.2rem] md:h-[3.5rem] mt-4 md:mt-6 border-r-2 border-text dark:border-text-dark min-w-[1px];

                animation: blink 800ms linear infinite;
            }
        }
    }

    .home-about {
        @apply mb-8 text-lg;
    }

    .home-page-block {
        @apply my-2;

        & h2 {
            @apply mt-4;
        }

        & .see-more {
            @apply mt-2;
        }

        & .blog-post-item {
            & .hero {
                @apply hidden;
            }
        }
    }

    .timeline-post {
        & .timestamp {
            @apply mt-0 mb-4;

            & > time {
                @apply accent text-sm;
            }
        }

        & .post-title {
            @apply text-2xl mt-0 mb-2 accent no-underline;
            font-family: 'WilcoLoftSans';
            font-display: swap;
            @apply mt-8 mb-0;
            letter-spacing: 0.025rem;
        }

        & .media {
            @apply flex flex-row justify-start mb-6;

            & > .media-grid {
                @apply grid gap-x-1 grid-cols-2 overflow-hidden;
            }
            & img {
                @apply w-full h-full object-contain;
            }
        }

        .album-photo-media {
            @apply mb-0;
        }

        .album-description {
            @apply mt-0 text-center;
        }

        .tags-and-timestamp {
            @apply flex-row justify-between items-baseline mt-2;

            & .tags-list {
                @apply flex-row justify-start items-baseline;
            }

            & .timestamp {
                @apply w-[16ch] text-right;
            }
        }
    }

    .micro-post {
        & .media {
            @apply flex flex-row justify-start mb-6;

            & > .media-grid {
                @apply grid gap-x-1 grid-cols-2 overflow-hidden;
            }
            & img {
                @apply w-full h-full object-contain;
            }
        }

        .tags-list {
            @apply mt-2;
        }

        .original-link {
            @apply mt-6;
        }
    }

    .wide {
        @apply w-[102ch] max-w-[100%] px-4 mx-auto;
    }

    .album-grid {
        @apply grid gap-x-2 gap-y-2 grid-cols-1 sm:grid-cols-2 xl:grid-cols-2 mb-8;

        & .album {
            @apply !no-underline flex flex-col justify-between cursor-pointer my-2;

            & .preview-multi {
                @apply grid gap-x-1 grid-cols-2 overflow-hidden max-h-[16rem] mb-2;
            }

            & .preview-single {
                @apply flex flex-col justify-between my-auto;
            }

            & .title-and-date {
                @apply flex flex-col justify-center items-center;

                & .title {
                    @apply accent mt-0 text-center;
                }

                & date {
                    @apply secondary text-sm !no-underline;
                }
            }

            &:hover {
                & .title {
                    @apply under;
                }
            }
        }
    }

    .tv-movie-header {
        & h1 {
            @apply my-2;
        }

        & a {
            @apply my-0 no-underline;
        }

        & img {
            @apply max-w-[50%] min-w-[6rem] hobbyGridItemImage mx-auto my-0;
        }

        & .score {
            @apply text-center my-0;
        }

        & .year {
            @apply secondary my-0;
        }
    }

    & .tv-movie-header-image {
        @apply flex-col justify-center items-center mb-4 md:mb-12;

        & a {
            @apply my-0;
        }

        & .average {
            @apply text-center;
        }
    }

    .tv-movie-reviews {
        @apply flex-col;

        & .reviews {
            @apply mt-1 justify-between w-full;

            & .review {
                @apply justify-start w-full;

                & h2 {
                    @apply text-lg mt-0 mb-2;
                }

                & .score-and-date {
                    @apply flex-row justify-between items-baseline;

                    & a {
                        @apply text-sm;
                    }
                }
            }
        }

        & hr {
            @apply !flex my-4;
        }
    }

    .photo-page {
        @apply justify-center items-center p-0 m-0;

        & nav {
            @apply absolute top-0 left-0 right-0;
        }

        & .img-container {
            @apply absolute top-[3rem] md:top-[4rem] bottom-[11rem] left-0 right-0 flex-1 justify-center items-center w-full p-2 pt-4 md:p-8 overflow-hidden;

            & img {
                @apply w-full h-full object-contain p-0 m-0;
            }
        }

        & .buttons-and-text {
            @apply absolute bottom-4 left-0 right-0 flex mx-auto justify-end items-center width-control h-[10rem];

            & .description {
                @apply w-full text-center mt-4 mb-0;
            }

            & .tags-list {
                @apply my-1;
            }

            & .tag {
                @apply !text-accent dark:!text-accent-dark !decoration-accent dark:!decoration-accent-dark;
            }

            & .nav {
                @apply flex-row w-full justify-between items-center my-0;

                & .arrow-left {
                    @apply flex-1 link no-underline h-8 items-center text-lg m-0 mr-4;
                }

                & .arrow-right {
                    @apply flex-1 justify-end link no-underline h-8 pl-4 items-center text-lg m-0;
                }
            }

            & .links {
                @apply flex-row w-full justify-center items-baseline;

                & a {
                    @apply mx-0 my-0;
                }
            }
        }
    }

    .game-stats {
        @apply flex-row justify-around items-center w-full;

        .game-stat {
            @apply flex-col justify-center items-center;

            p {
                @apply text-center my-0;
            }

            .numbers {
                @apply text-4xl md:text-5xl;
            }

            .label {
                @apply text-lg leading-4;
            }
        }
    }

    .games-grid {
        @apply grid gap-x-4 gap-y-6 mx-auto px-0 grid-cols-2 sm:grid-cols-3 mt-2;
    }

    .game-page-data {
        @apply flex-col justify-center items-center;

        a {
            @apply my-4;
        }

        .game-stats {
            @apply my-6;
        }
    }

    .game-achievement {
        @apply flex flex-row my-2;

        .image-container {
            @apply flex-1 max-w-[4rem] md:max-w-[6rem];
        }

        h3, p {
            @apply my-0;
        }

        time {
            @apply secondary min-w-[10ch] text-right;
        }

        .left {
            @apply flex-1 flex-col justify-between ml-4 py-2;
        }

        .name-and-description {
            @apply flex-1 flex-col justify-start;
        }

        .right {
            @apply flex-1 flex-col justify-between items-end;
        }
    }

    #search {
        & .pagefind-ui {
            @apply block relative mt-8;
        }

        & .pagefind-ui__form {
            @apply flex flex-col w-full;
        }

        & .pagefind-ui__search-input {
            @apply absolute top-0 left-0 w-full bg-[#FCFCFC] dark:bg-[#030303] text-text dark:text-text-dark border-border border-2 dark:border-border-dark rounded-lg px-4 h-16;

            &::placeholder {
                @apply text-text dark:text-text-dark;
            }
        }

        & .pagefind-ui__search-clear {
            @apply absolute right-4 h-16 secondary;
        }

        & .pagefind-ui__drawer {
            @apply mt-[4.5rem] mx-2 left-0 w-full;
        }

        & .pagefind-ui__message {
            @apply my-2;
        }

        & .pagefind-ui__results {
            @apply flex flex-col list-none;
        }

        & .pagefind-ui__result {
            @apply border-border dark:border-border-dark border-t-2 mt-2 pt-4 mb-4;
        }

        & .pagefind-ui__result-link {
            @apply text-accent dark:text-accent-dark decoration-accent dark:decoration-accent-dark under;
        }

        & .pagefind-ui__result-image {
            @apply max-h-[24rem] w-full object-contain;
        }
    }
}
