@import 'tailwindcss';

/* Where Tailwind should scan for classes */
@source "./templates/**/*.html" "./src/renderer/**/*.rs";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: #ffffff;
    --color-background-secondary: #f8f8f8;
    /*--color-background: #ffffff;*/
    --color-text: #000000;
    --color-text-disabled: #919397;
    --color-text-secondary: #57585c;
    --color-headings: #080808;
    --color-accent: #784387;
    --color-code: #d4d4d4;
    /*--color-code: #d4d4d4;*/
    --color-border: #d8d8d8;
    --color-middleGray: #888888;

    --color-blog-bg: #004a86;
    --color-blog-text-primary: #ffffff;
    --color-blog-text-secondary: #e4e4e4;

    --color-sport-bg: #ff7c24;
    --color-sport-text-primary: #000000;
    --color-sport-text-secondary: #e4e4e4;

    --color-toots-bg: #005900;
    --color-toots-text-primary: #ffffff;
    --color-toots-text-secondary: #e4e4e4;

    --color-photos-bg: #1d2124;
    --color-photos-text-primary: #ffffff;
    --color-photos-text-secondary: #e4e4e4;
}

@layer theme {
    .dark {
        --color-background: #0c0c0e;
        --color-background-secondary: #1c1c1e;
        --color-text: #ededed;
        --color-text-secondary: #aba9b0;
        --color-headings: #ededed;
        --color-accent: #ea93e3;
        --color-code: #303030;
        --color-border: #404040;
        --color-middleGray: #181818;
    }
}

:root {
    --article-vertical-margin: 0.75rem;
}

/* ---- Fonts ---- */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/assets/fonts/Atkinson-HyperlegibleNext-Regular.otf')
        format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/assets/fonts/Atkinson-HyperlegibleNext-Bold.otf')
        format('opentype');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/assets/fonts/Atkinson-HyperlegibleNext-Italic.otf')
        format('opentype');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/assets/fonts/Atkinson-HyperlegibleNext-BoldItalic.otf')
        format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
/* @font-face {
  font-family: "WilcoLoftSans";
  src: url("/assets/fonts/WilcoLoftSans-Treble.woff2") format("woff2");
  font-display: swap;
} */

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@utility animate-blink {
    animation: blink 1.5s infinite;
}

@utility text {
    color: var(--color-text);
    text-wrap: pretty;
    font-variant-numeric: tabular-nums;
}

@utility accent {
    @apply text-accent decoration-accent;
}

@utility no-accent {
    @apply decoration-text;
}

@utility under {
    @apply underline hover:!underline;
    text-underline-offset: 0.15em;
    text-decoration-thickness: 1px;
}

@utility link {
    /*@apply under text-accent decoration-accent;*/
    @apply under;
}

@utility secondary {
    @apply text-text-secondary decoration-text-secondary;
}

@utility disabled {
    @apply text-text-disabled no-underline;
}

@utility width-control {
    @apply w-[80ch] max-w-full px-4 md:px-0;
}

@utility centered-width-control {
    @apply width-control mx-auto;
}

@utility centered-to-width {
    @apply w-full mx-auto px-3 md:px-4;
}

@utility width-wide {
    @apply centered-to-width max-w-[72rem];
}

@utility width-middle {
    @apply centered-to-width max-w-[66rem];
}

@utility width-narrow {
    @apply centered-to-width max-w-[68ch];
}

@utility article-spacing {
    @apply my-[var(--article-vertical-margin)];
}

@utility prose {
    p,
    li,
    th,
    td {
        @apply text-[17px];
        font-family: 'Atkinson Hyperlegible', system-ui, -apple-system,
            BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
            'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
            'Segoe UI Symbol', 'Noto Color Emoji';
    }

    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol,
    ul,
    img,
    blockquote,
    table {
        @apply my-[var(--article-vertical-margin)];
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply my-[calc(var(--article-vertical-margin)*4)] mb-0 max-w-[80%] overflow-clip;
    }

    h2 + h3,
    h3 + h4,
    h4 + h5 {
        @apply mt-[var(--article-vertical-margin)];
    }

    h2 + p,
    h3 + p,
    h4 + p,
    h5 + p {
        @apply mt-4;
    }

    h2 {
        @apply text-2xl md:text-3xl;
    }

    h3 {
        @apply text-xl md:text-2xl;
    }

    h4 {
        @apply md:text-xl;
    }

    a {
        @apply under;
    }

    ol {
        @apply list-decimal list-outside ml-6;
    }
    ul {
        @apply list-disc list-outside ml-5;
    }

    li {
        @apply my-3 md:my-4 first-of-type:mt-0 last-of-type:mb-0;
    }

    li > ul > li,
    li > ol > li {
        @apply ml-4;
    }

    p + ol,
    p + ul {
        @apply mt-0 mb-5 md:mb-6;
    }

    blockquote {
        @apply border-l-4 border-accent pl-4;
    }
    h2 + blockquote,
    h3 + blockquote,
    h4 + blockquote,
    h5 + blockquote,
    h6 + blockquote {
        @apply mt-6;
    }

    /* Not codeblock */
    :not(pre) > code {
        @apply article-spacing bg-code pt-[.05rem] pb-[.1rem] px-[.3rem] rounded !font-normal;
        font-family: 'Fira Code', 'JetBrains Mono', 'Source Code Pro',
            'Courier New', monospace;
    }

    /* Codeblock */
    pre {
        @apply article-spacing bg-[#303030] pt-[.45rem] pb-[.5rem] px-[.6rem] rounded !font-normal overflow-x-auto;
        font-family: 'Fira Code', 'JetBrains Mono', 'Source Code Pro',
            'Courier New', monospace;
    }

    /*p > img {
        @apply mx-auto my-0;
    }*/

    img {
        @apply w-full mx-auto;
    }

    table {
        @apply overflow-x-scroll;
    }

    p {
        /* Not sure why, but sometimes some text is slightly wider than it should be and causes horizontal scroll on mobile */
        @apply leading-7 overflow-x-clip;
    }
}

@utility full-stop {
    &::after {
        content: '.';
    }
}

body {
    @apply bg-background text;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

div,
nav,
footer,
section,
article {
    @apply flex flex-col;
}

a {
    @apply link;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-xl font-bold;
}

hr {
    @apply border-border my-8 mx-0;
}

article {
    @apply prose;
}

nav {
    @apply width-middle py-1 md:flex-row md:justify-between md:items-baseline;

    .name-and-toggle {
        @apply flex flex-row justify-between items-baseline;

        a.name {
            @apply w-full md:w-auto md:flex-shrink-0 ml-[4rem] md:ml-0 py-2 pr-2 accent text-4xl text-center md:text-left;
            /*@apply w-full md:w-auto md:flex-shrink-0 py-2 pr-2 accent text-4xl md:text-left;*/
        }

        #theme-toggle {
            @apply w-[4rem] flex-row justify-end items-end md:w-auto md:ml-2;

            #toggle-button {
                @apply cursor-pointer secondary rotate-180 dark:rotate-0 transition-all duration-100;
            }
        }
    }

    .links {
        @apply flex flex-row justify-between text-lg md:mr-0;

        li {
            @apply flex justify-center mx-2 first-of-type:ml-0 last-of-type:mr-0;

            &.photos {
                @apply max-sm:hidden;
            }

            &.tags {
                @apply max-md:hidden;
            }

            a {
                @apply text py-0 rounded-sm text-center secondary no-underline;

                &.active {
                    @apply text;
                }

                &:hover {
                    @apply text under;
                }
            }
        }
    }

    a {
        @apply no-underline;
    }
}

footer {
    @apply border-accent border-t-4 mt-16 md:mt-32;

    ul.groups {
        @apply width-middle my-8 grid grid-cols-2 md:grid-cols-4 gap-y-8;

        p {
            @apply text mt-0 font-bold text-2xl mb-2;
        }

        ul {
            @apply list-none ml-0;

            & > li {
                @apply my-2 first-of-type:mt-0 last-of-type:mb-0;

                a {
                    @apply no-underline;
                }
            }
        }
    }
}

time {
    @apply italic secondary;
    /*@apply text-sm mt-[.125rem] leading-6 italic font-thin;*/
}

/* Components*/

.tags-list {
    @apply flex flex-row flex-wrap secondary;

    li {
        @apply ml-0 mr-[0.5ch] my-0 py-0 last-of-type:mr-0;
    }

    & .tag {
        /*@apply secondary no-underline;*/
        @apply italic no-underline;
    }
}

.page-header {
    @apply w-full mt-8 mb-8 px-4 md:my-16 mx-auto items-center;

    h1 {
        @apply md:mb-4 text-4xl md:text-5xl text-center;

        & > time {
            @apply font-bold text-text;
        }
    }

    time {
        @apply not-italic font-normal;
    }

    .tags-list {
        @apply md:max-w-[60%] justify-center;

        li {
            @apply mx-1;
        }
    }
}

.pagination {
    @apply w-full flex-row justify-between mt-16 mb-8 md:mt-32;

    .left,
    .right {
        @apply flex-row;
    }

    a,
    .spacer {
        @apply w-10 mx-1 text-lg no-underline secondary text-center;

        &.active {
            @apply text;
        }

        &.first,
        &.last {
            @apply w-16;
        }

        &.first {
            @apply text-left;
        }

        &.last {
            @apply text-right;
        }

        &.disabled {
            @apply disabled;
        }
    }
}

.post-list {
    & > li {
        @apply flex flex-col w-full;

        .date {
            @apply no-underline;

            time {
                @apply text-lg font-bold not-italic text-text;
            }
        }

        .content {
            @apply mt-[var(--article-vertical-margin)];
        }

        .tags-list {
            @apply mt-[var(--article-vertical-margin)];
        }

        .blog-title {
            @apply text-3xl font-bold no-underline my-[var(--article-vertical-margin)];
        }
    }

    hr {
        @apply last-of-type:hidden;
    }
}

.media {
    @apply w-full my-[var(--article-vertical-margin)];

    img {
        @apply mx-auto max-h-[32rem] object-contain;
    }

    .media-grid {
        @apply grid grid-cols-1 md:grid-cols-2 gap-[var(--article-vertical-margin)] md:gap-2;

        img {
            @apply my-auto object-cover;
        }
    }
}

/* -------- Page Specific -------- */
.home {
    section {
        @apply w-full py-8 md:py-16;

        h2 {
            @apply mt-0 mb-8 text-4xl md:text-5xl full-stop;
        }

        .more-link {
            @apply mt-8 ml-auto italic no-underline;
        }

        &.header {
            @apply items-center md:pt-24;

            .name-and-cursor {
                @apply w-full flex-row justify-center items-baseline h-[7.5rem];

                h1 {
                    @apply text-[3rem] md:text-[6rem] m-0 text-center w-auto;

                    &::after {
                        content: '';
                    }
                }

                .typing-cursor {
                    @apply ml-[.01rem] h-[2.2rem] md:h-[4rem] mt-4 md:mt-10 border-r-2 border-text min-w-[1px];

                    animation: blink 800ms linear infinite;
                }
            }

            .about {
                @apply prose width-narrow pt-8 pb-0 text-lg text-center;
            }
        }

        &.blog {
            .blog-post-list {
                @apply grid grid-cols-1 gap-y-8 md:grid-cols-4 md:gap-x-6;

                .blog-post-list-item {
                    .title-and-date {
                        @apply md:flex-col-reverse;

                        a {
                            @apply no-underline;
                        }
                    }

                    .title {
                        @apply mt-0 text-2xl md:text-2xl font-bold tracking-tight md:tracking-normal md:h-16 md:overflow-hidden;
                    }

                    .description {
                        @apply mt-2;
                    }
                }
            }
        }

        &.photos {
            ul.photos-list {
                @apply grid grid-cols-2 gap-3 md:grid-cols-4;

                li {
                    a {
                        @apply no-underline;
                    }

                    img {
                        @apply min-w-full aspect-square object-cover rounded-sm;
                    }
                }
            }

            .more-link {
                @apply mt-4 md:mt-8;
            }
        }

        &.sport {
            /*@apply bg-sport-bg text-sport-text-primary;*/
        }

        &.toots {
            /*@apply bg-toots-bg text-toots-text-primary;*/
        }
    }
}

.blog-list-page {
    @apply width-narrow;

    h1 {
        @apply full-stop;
    }

    .blog-post-list {
        .blog-post-list-item {
            @apply mb-8 md:mb-12;

            .title-and-date {
                @apply flex-col-reverse md:flex-row justify-between items-baseline;

                a {
                    @apply no-underline;
                }
            }

            .title {
                @apply mt-0 text-2xl md:text-2xl font-bold tracking-tight md:tracking-normal;
            }

            .description {
                @apply my-2;
            }
        }
    }
}

.blog-post-page,
.micro-post-page,
.mastodon-post-page {
    @apply width-narrow;

    .original-link {
        @apply mt-[var(--article-vertical-margin)] md:mt-[var(--article-vertical-margin)*2];
    }
}

.photos-page {
    @apply width-wide;

    h1 {
        @apply full-stop;
    }

    ul.photos-list {
        @apply grid grid-cols-2 gap-3 md:grid-cols-5;

        li {
            a {
                @apply no-underline;
            }

            img {
                @apply min-w-full aspect-square object-cover rounded-sm;
            }
        }
    }
}

.timeline-page,
.firehose-page {
    @apply width-narrow;

    h1 {
        @apply full-stop;
    }
}

.tags-page {
    @apply width-narrow;

    h1 {
        @apply full-stop;
    }

    .tags-grid {
        @apply grid grid-cols-1 gap-3;

        li {
            a {
                @apply flex flex-row items-baseline no-underline text-lg;

                .count {
                    @apply ml-2 secondary no-underline!;
                }

                &:hover {
                    .count {
                        @apply no-underline!;
                    }
                }
            }
        }
    }

    /*.tags-grid {
        @apply grid grid-cols-1 md:grid-cols-3 gap-3;

        li {
            a {
                @apply flex flex-row md:flex-col-reverse md:justify-center items-baseline md:items-center md:p-4 no-underline md:bg-background-secondary md:rounded-sm text-lg;

                .count {
                    @apply ml-2 md:ml-0 md:text-lg secondary no-underline!;
                }

                .tag {
                    @apply md:text-xl;
                }

                &:hover {
                    .count {
                        @apply no-underline!;
                    }
                }
            }
        }
    }*/
}

.tag-posts-page {
    @apply width-narrow;
}

.projects-page {
    @apply width-middle;

    h1 {
        @apply full-stop;
    }

    ul {
        @apply grid grid-cols-1 md:grid-cols-4 gap-8;

        li {
            @apply flex flex-col;

            .name {
                @apply text-2xl font-bold no-underline;
            }

            .image {
                @apply items-center my-4 h-[8rem];

                img {
                    @apply max-h-[8rem] object-contain;
                }
            }
        }
    }
}
