@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/assets/fonts/Atkinson-HyperlegibleNext-Regular.otf')
        format('otf');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/assets/fonts/Atkinson-HyperlegibleNext-Bold.otf') format('otf');
    font-weight: bold;
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/assets/fonts/Atkinson-HyperlegibleNext-Italic.otf') format('otf');
    font-style: italic;
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/assets/fonts/Atkinson-HyperlegibleNext-BoldItalic.otf')
        format('otf');
    font-weight: bold;
    font-style: italic;
}
/* @font-face {
    font-family: 'WilcoLoftSans';
    src: url('/assets/fonts/WilcoLoftSans-Treble.woff2') format('woff2');
} */

@layer components {
    /* -------- Utilities -------- */

    .text {
        @apply text-text dark:text-text-dark tabular-nums;
        text-wrap: pretty;
    }

    .accent {
        @apply text-accent dark:text-accent-dark decoration-accent dark:decoration-accent-dark;
    }

    .no-accent {
        @apply text-text dark:text-text-dark decoration-text dark:decoration-text-dark;
    }

    .under {
        @apply underline hover:!underline;
        text-underline-offset: 0.15em;
        text-decoration-thickness: 1px;
    }

    .link {
        @apply under text-accent dark:text-accent-dark decoration-accent dark:decoration-accent-dark;
    }

    .secondary {
        @apply !text-secondary dark:!text-secondary-dark !decoration-secondary dark:!decoration-secondary-dark;
    }

    .width-control {
        @apply w-[80ch] max-w-[100%] px-4 md:px-0;
    }

    .centered-width-control {
        @apply width-control mx-auto;
    }

    .nav-width {
        @apply w-full max-w-[72rem] mx-auto;
    }

    /* -------- Base -------- */

    * {
        @apply text;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
            'Noto Color Emoji';
        font-display: swap;
    }

    body {
        @apply bg-[#FDF7F5];
        /*background: #96ecff;
        background: linear-gradient(
            90deg,
            rgba(150, 236, 255, 1) 0%,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 168, 242, 1) 100%
        );*/
    }

    main {
        @apply mx-4 md:mx-auto;
    }

    div,
    nav,
    footer,
    article {
        @apply flex flex-col;
    }

    a {
        @apply link;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    img,
    li,
    th,
    td {
        @apply text;
    }

    h1 {
        @apply w-full mt-8 mb-4 font-bold text-3xl md:text-5xl text-center sm:max-w-[80%];
    }

    .article-spacing {
        @apply my-2 md:my-3;
    }

    article,
    .prose {
        p,
        li,
        th,
        td {
            @apply text;
            font-family: 'Atkinson Hyperlegible', system-ui, -apple-system,
                BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
                'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
                'Segoe UI Symbol', 'Noto Color Emoji';
        }

        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ol,
        ul,
        img,
        blockquote,
        table {
            @apply article-spacing;
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply text-xl leading-6 font-bold mt-9 mb-0;
        }

        h2 {
            @apply text-2xl leading-6;
        }

        h2 + h3,
        h3 + h4,
        h4 + h5 {
            @apply mt-2;
        }

        h2 + p,
        h3 + p,
        h4 + p,
        h5 + p {
            @apply mt-1;
        }

        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            @apply leading-7;
        }

        a {
            @apply accent under;
        }

        ol {
            @apply list-decimal list-outside ml-6;
        }

        ul {
            @apply list-disc list-outside ml-5;
        }

        li {
            @apply my-3 md:my-4 first-of-type:mt-0 last-of-type:mb-0;
        }

        li > ul > li,
        li > ol > li {
            @apply ml-4;
        }

        p + ol,
        p + ul {
            @apply mt-0 mb-5 md:mb-6;
        }

        blockquote {
            @apply border-l-4 border-accent dark:border-accent-dark pl-4;
        }

        h2 + blockquote,
        h3 + blockquote,
        h4 + blockquote,
        h5 + blockquote,
        h6 + blockquote {
            @apply mt-6;
        }

        :not(pre) > code {
            @apply article-spacing bg-code dark:bg-code-dark pt-[.05rem] pb-[.1rem] px-[.3rem] rounded !font-normal;
            font-family: 'Fira Code', 'JetBrains Mono', 'Source Code Pro',
                'Courier New', monospace;
        }

        pre {
            @apply article-spacing bg-code-dark pt-[.45rem] pb-[.5rem] px-[.6rem] rounded !font-normal overflow-x-auto;
            font-family: 'Fira Code', 'JetBrains Mono', 'Source Code Pro',
                'Courier New', monospace;
        }

        p > img {
            @apply mx-auto my-0;
        }

        img {
            @apply text-text dark:text-text-dark w-full mx-auto;
        }

        pre > code {
            @apply text-text-dark;
        }
    }

    /* -------- Components -------- */

    nav {
        @apply nav-width py-1 md:flex-row md:justify-between;

        .name-and-toggle {
            @apply flex flex-row justify-between;

            .toggle {
                @apply w-[4rem];
            }

            .name {
                @apply w-full ml-[4rem] py-1 px-2 accent text-4xl text-center;
            }
        }

        .links {
            @apply flex flex-row justify-between px-2 text-lg;

            li {
                @apply flex justify-center mx-1 sm:min-w-[5rem];

                &.photos {
                    @apply max-sm:hidden;
                }

                &.tags {
                    @apply max-md:hidden;
                }

                a {
                    @apply p-1 rounded-sm text-center hover:bg-white text;

                    &.active {
                        @apply accent underline hover:!underline;
                        text-underline-offset: 0.25em;
                        text-decoration-thickness: 2px;
                    }
                }
            }
        }

        a {
            @apply no-underline;
        }
    }

    .tags-list {
        @apply flex flex-row flex-wrap;

        li {
            @apply ml-0 mr-[0.5ch] my-0 py-0 last-of-type:mr-0;
        }

        & .tag {
            @apply secondary no-underline;
        }
    }

    .blog-post-list {
        /*@apply grid grid-cols-1 gap-y-12;*/

        .blog-post-list-item {
            @apply border-border border-b-[1px] py-6;

            .title {
                /*@apply text mt-0 text-xl pr-8 sm:pr-0 font-bold;*/
                @apply text mt-0 text-xl pr-8 sm:pr-0 font-bold;
            }

            .description {
                @apply my-3;
            }

            .tags-list {
            }

            .date {
                @apply secondary text-sm leading-6;
            }

            /*&:hover {
                .title {
                    @apply accent under;
                }
            }*/
        }
    }

    .bento {
        @apply grid grid-cols-1 gap-2 md:grid-cols-3;

        & > * {
            @apply rounded-lg p-4 border-4 backdrop-blur-[36px] backdrop-saturate-50 backdrop-brightness-110;
        }

        .wide {
            @apply col-span-1 md:col-span-2;
        }

        .thin {
            @apply col-span-1;
        }
    }
    /* -------- Page Specific -------- */
    .home-bento {
        @apply grid-cols-9;

        .blog {
            @apply border-blue-300 row-start-1 col-span-6 row-span-2;
        }

        .photos {
            @apply border-pink-400 row-start-1 col-span-3 row-span-1;
        }

        .exercise-activity {
            @apply border-orange-300 row-start-3 col-span-4;
        }

        .exercise-monthly {
            @apply border-green-300 row-start-3 col-span-2;
        }

        .exercise-yearly {
            @apply border-purple-300 row-start-3 col-span-2;
        }
    }
}
