@import '../core';

$headerHeight: 2rem;

.container {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  max-width: $max-width;
  padding: .5rem 1rem;
}

.titleContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 150%;
  margin: 0;
  padding: .5rem 0;
  text-align: center;

  transition: text-decoration .25s;

  &:hover {
    text-decoration: underline;
  }
}

.links {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: $headerHeight;
}

.link {
  flex: 1;
  font-weight: normal;
  margin: 0 0 0 .5rem;
  transition: text-decoration .25s;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}

@media only screen and (min-width: $collapsable-width) {
  .container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .titleContainer {
    width: auto;
  }

  .title {
    font-size: 150%;
    margin: 0;
    padding: .5rem 0;
    text-align: left;

    transition: text-decoration .25s;

    &:hover {
      text-decoration: underline;
    }
  }

  .links {
    height: $headerHeight;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  .link {
    flex: 0;
    font-weight: normal;
    margin: 0 0 0 .5rem;
    transition: text-decoration .25s;

    &:hover {
      text-decoration: underline;
    }
  }
}