---
layout: page
title: Lego
description: My Lego Collection
---
<p class="text-lg">I own {{ lego.setKeys | length }} sets with total of {{ lego.totalPieces | formatNumber }} pieces. See my <a href="/tags/lego">Lego related posts</a>.</p>

<h2>Sets</h2>
<div class="grid gap-x-4 gap-y-6 mx-auto px-0 mt-4 grid-cols-2 sm:grid-cols-3">
    {% for setKey in lego.setKeys %}
        {% set legoSet = lego.sets[setKey] %}
        <div class="justify-start items-center">
            <div class="w-full justify-center hobbyGridItemImage overflow-hidden dark:bg-background h-[14rem] p-2">
                <a class="flex my-0 justify-center" href="{{ legoSet.bricksetUrl }}" target="_blank" rel="noopener noreferrer">
                    <img src="{{ legoSet.image.src }}" alt="{{ legoSet.name }}" class="max-h-[12rem] bg-white rounded-sm">
                </a>
            </div>
            <div class="justify-end">
                <a class="my-0 no-underline" href="{{ legoSet.bricksetUrl }}">
                    <p class="my-0 text-center accent">{{ legoSet.name }}</p>
                    <p class="secondary my-0 text-center">{{ legoSet.number }}</p>
                </a>
            </div>
            <p class="secondary my-0">
                {{ legoSet.pieces | formatNumber }} pieces
                {%- if legoSet.quantity > 1 %}
                    x {{ legoSet.quantity }}
                {% endif %}
            </p>
        </div>
    {% endfor %}
</div>