---
layout: page
title: Movies
description: Movies I've watched
---
<div class="grid gap-x-4 gap-y-6 mx-auto px-0 grid-cols-3 sm:grid-cols-5">
    {% for movieKey in movies.moviesByWatchDate %}
        {% set movie = movies.movies[movieKey] %}
        <div class="justify-start items-center">
            <div class="w-full max-h-[12rem] justify-center">
                <a class="my-0" href="{{ movie.permalink }}">
                    <img src="https://image.tmdb.org/t/p/w200{{ movie.posterUrl }}" alt="{{ movie.name }}" class="w-full max-h-[12rem] hobbyGridItemImage">
                </a>
            </div>
            <div class="justify-start mt-2">
                <a class="my-0 no-underline" href="{{ movie.permalink }}">
                    <p class="mt-0 accent text-center">{{ movie.title }}</p>
                </a>
                <p class="my-0 text-center secondary">({{ movie.averageScore }}/5)</p>
            </div>
        </div>
    {% endfor %}
</div>