---
layout: page
title: TV
description: Tv I've watched
disableFind: true
---
<div class="grid gap-x-4 gap-y-6 mx-auto px-0 grid-cols-3 sm:grid-cols-5" data-pagefind-ignore>
    {% for tvShowKey in tv.tvShowsByWatchDate %}
        {% set tvShow = tv.tvShows[tvShowKey] %}
        <div class="justify-start items-center">
            <div class="w-full max-h-[12rem] justify-center">
                <a class="my-0" href="{{ tvShow.permalink }}">
                    <img src="https://image.tmdb.org/t/p/w200{{ tvShow.posterUrl }}" alt="{{ tvShow.name }}" class="w-full max-h-[12rem] hobbyGridItemImage">
                </a>
            </div>
            <div class="justify-start mt-2">
                <a class="my-0 no-underline" href="{{ tvShow.permalink }}">
                    <p class="my-0 accent text-center">{{ tvShow.title }}</p>
                </a>
                <p class="my-0 text-center secondary">({{ tvShow.averageScore }}/5)</p>
            </div>
        </div>
    {% endfor %}
</div>