// Mobile and dark by default

$max-width: 44rem;
$collapsible-width: 38rem;

$white: #efefef;
$black: #121212;
$invisible: #00000000;

// Dark

$main-background-dark: #2e2e2f;
$main-background-dark-2: #383333;
$main-background-dark-3: #4D4A49;
$accent-dark: #DEB9FF;

$primary-colour-text-dark: #E9E1DE;
$secondary-colour-text-dark: #C8C3C0;


$data-background-dark: #090f17;
$data-text-color-dark: #E12D39;
$border-dark: hsla(13, 3, 29, 100);

// Light

$main-background-light: #FAF9F7;
$secondary-background-light: #F0EDE9;
$tertiary-background-light: #E8E6E1;

$primary-colour-text-light: #27241D;
$secondary-colour-text-light: #423D33;

$data-background-light: #E8E6E1;
$data-text-color-light: #E12D39;
$border-light: darken($white, 15%);

:root {
  --primary-background: #{$main-background-dark};
  --secondary-background: #{$main-background-dark-2};
  --tertiary-background: #{$main-background-dark-3};

  --primary-text: #{$primary-colour-text-dark};
  --secondary-text: #{$secondary-colour-text-dark};

  --border-color: #{$border-dark};

  --link-color: #{$accent-dark};
}

// @media (prefers-color-scheme: light) {
//   :root {
//     --primary-background: #{$main-background-light};
//     --secondary-background: #{$secondary-background-light};
//     --tertiary-background: #{$tertiary-background-light};

//     --primary-text: #{$primary-colour-text-light};
//     --secondary-text: #{$secondary-colour-text-light};
//   }
// }

* {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-background);
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

header,
main,
div,
section,
article {
  display: flex;
  flex: 1;
  flex-direction: column;
}

main {
  align-items: flex-start;
  max-width: $max-width;
}

a {
  color: var(--link-color);
  transition: color .25s;
  font-size: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

p {
  flex: 100%;
  padding: 1em 0;
  font-size: 110%;
  line-height: 1.5em;
  color: var(--primary-text);

  &:last-of-type {
    padding-bottom: 0;
  }
}

em {
  font-size: 100%;
}

ul,
ol {
  padding: .5rem 2rem;
}

li {
  padding: .375rem;
  color: var(--primary-text);
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text);
  line-height: 1.2em;
}

code {
  padding: .1rem .35rem;
  color: $data-text-color-light;
  // background-color: $data-background-light;
  font-weight: 600;

  table-layout: fixed;
  max-width: 100%;
  overflow-x: scroll;
}

pre {
  flex: 1;
  // background-color: $data-background-light;
  table-layout: fixed;
  max-width: calc(100vw - 2em);
  border: 1px $border-light solid;

  code {
    padding: 0;
  }
}

table {
  table-layout: fixed;
  width: 100%;
  margin: .5rem auto;
  padding: 0;
  border: 1px solid $border-light;
  border-collapse: collapse;

  tr {
    background-color: $data-background-light;
    border: 1px solid $border-light;
    padding: .25em;
  }

  thead {
    text-transform: uppercase;
  }

  th,
  td {
    padding: .5em;
    text-align: center;
  }

  th {
    font-weight: bold;
  }
}

blockquote {
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
  background: var(--tertiary-background);
  border-left: .25rem solid var(--secondary-background);
  margin: .5rem 0 1.5rem;
  padding: 0.75em 1.25em;

  p {
    padding: 0 0 .25rem;
    font-style: italic;
    font-weight: bold;
    font-size: 100%;
  }

  cite {
    flex: 100%;
    padding: .5rem 0 0 .5rem;

    &:before {
      content: '- '
    }
  }
}

.header-link-icon {
  svg {
    margin-top: .75rem;
      stroke: var(--link-color);
      fill: var(--link-color);
  }
}

@media only screen and (min-width: $collapsible-width) {

}