<ul class="links">
    <li>
        <a href="http://twitter.com/geekyaubergine" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    <li>
        <a href="http://github.com/geekyaubergine" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </li>
    <li>
        <a href="http://linkedin.com/in/zoeaubert" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
    </li>
    <li>
        <a href="mailto:hello@zoeaubert.me" target="_blank">
            <i class="far fa-envelope"></i>
        </a>
    </li>
</ul>