<ul class="links">
    <li>
        <a href="http://twitter.com/geekyaubergine" target="_blank" rel="noopener" rel="noreferrer">
            Twitter
        </a>
    </li>
    <li>
        <a href="http://github.com/geekyaubergine" target="_blank" rel="noopener" rel="noreferrer">
            GitHub
        </a>
    </li>
    <li>
        <a href="mailto:hello@zoeaubert.me" target="_blank" rel="noopener" rel="noreferrer">
            Email
        </a>
    </li>
</ul>
