{% extends "partials/page.html" %} {%- block content %}
<div class="number-stats">
    <div class="number-stat">
        <p class="numbers">{{ total_sets.format(0, true) }}</p>
        <p class="label">Sets</p>
    </div>
    <div class="number-stat">
        <p class="numbers">{{ total_pieces.format(0, true) }}</p>
        <p class="label">Pieces</p>
    </div>
    <div class="number-stat">
        <p class="numbers">{{ total_minifigs.format(0, true) }}</p>
        <p class="label">Minifigs</p>
    </div>
</div>
<div class="text-lg my-8 items-center">
    <p class="text-lg">See my <a href="/tags/lego">#lego</a> posts</p>
</div>

<h2>Sets</h2>
<div class="grid gap-x-4 gap-y-6 mx-auto px-0 mt-4 grid-cols-2 sm:grid-cols-3">
    {% for set in sets %}
    <div class="justify-start items-center">
        <div
            class="w-full justify-center hobbyGridItemImage overflow-hidden dark:bg-background h-[14rem] p-2"
        >
            <a
                class="flex my-0 justify-center"
                href="{{ set.link }}"
                target="_blank"
                rel="noopener noreferrer"
            >
                <img
                    src="{{ set.thumbnail.cdn_url() }}"
                    alt="{{ set.name }}"
                    class="max-h-[12rem] bg-white rounded-sm"
                />
            </a>
        </div>
        <div class="items-center p-4 pt-2">
            <a class="no-underline my-0" href="{{ set.link }}">
                <p class="my-0 text-center accent">{{ set.name }}</p>
            </a>
            <a class="no-underline my-0" href="{{ set.link }}">
                <p class="secondary my-0 text-center">{{ set.number }}</p>
            </a>
            <p class="secondary my-0">
                {{ set.pieces.format(0, true) }} pieces {%- if set.quantity > 1
                %} x {{ set.quantity }} {% endif %}
            </p>
        </div>
    </div>
    {% endfor %}
</div>

<h2 class="mt-16">Minifigs</h2>
<div class="grid gap-x-4 gap-y-6 mx-auto px-0 mt-4 grid-cols-2 sm:grid-cols-3">
    {% for minifig in minifigs %}
    <div class="justify-start items-center">
        <div
            class="w-full justify-center hobbyGridItemImage overflow-hidden dark:bg-background h-[14rem] p-2"
        >
            <a
                class="flex my-0 justify-center"
                href="{{ minifig.link() }}"
                target="_blank"
                rel="noopener noreferrer"
            >
                <img
                    src="{{ minifig.image.cdn_url() }}"
                    alt="{{ minifig.name }}"
                    class="max-h-[12rem] bg-white rounded-sm"
                />
            </a>
        </div>
        <div class="justify-end">
            <a class="no-underline" href="{{ minifig.link() }}">
                <p class="my-0 text-center accent">
                    {{ minifig.display_name() }}
                </p>
            </a>
        </div>
        <p class="secondary my-0">
            {%- if minifig.total_owned > 1 %} x {{ minifig.total_owned }} {%
            endif %}
        </p>
    </div>
    {% endfor %}
</div>

<div class="mt-8">
    <p>
        Images courtesy of
        <a href="https://www.lego.com/" rel="noopen nofollow">Lego.com</a>,
        <a href="https://www.brickset.com/" rel="noopen nofollow"
            >Brickset.com</a
        >
        and
        <a href="https://www.bricklink.com/" rel="noopen nofollow"
            >Bricklink.com</a
        >
    </p>
</div>

{% endblock %}
