<nav data-pagefind-ignore>
    <div class="nav-wrapper">
        <div class="name-and-buttons">
            <div class="name-and-toggle">
                <a class="name" href="/">
                    <span class="forename">Zoe</span>
                    <span class="surname">Aubert</span>
                </a>
                {% include "partials/theme_toggle.html" %}
            </div>
            <button type="button" id="toggleNavLinks" class="mobile-nav-toggle">
                <p id="mobile-nav-toggle-glyph">☰</p>
            </button>
        </div>
        <div class="links">
            {% for link in page.navigation_links() %}
                <a
                class="link"
                href="{{ link.url() }}"
                target="{{ link.target() }}"
                rel="{{ link.rel() }}"
            >
                    {{ link.name() }}
                </a>
            {% endfor %}
            {% for link in page.social_links() %}
                {% if link.show_in_top_nav() %}
                    <a
                class="link"
                href="{{ link.url() }}"
                target="_blank"
                rel="me"
            >
                        {{ link.name() }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <div id="mobile-links" class="mobile-nav-container" aria-hidden="true">
            {% for link in page.navigation_links() %}
                <a
                class="link"
                href="{{ link.url() }}"
                target="{{ link.target() }}"
                rel="{{ link.rel() }}"
            >{{ link.name() }}</a>
            {% endfor %}
            {% for link in page.social_links() %}
                {% if link.show_in_top_nav() %}
                    <a
                class="link"
                href="{{ link.url() }}"
                target="_blank"
                rel="me"
            >
                        {{ link.name() }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</nav>
<script>
    const toggleNavLinks = document.getElementById('toggleNavLinks');

    toggleNavLinks
        ?.addEventListener('click', () => {
            const navlinks = document.getElementById('mobile-links');

            if (navlinks == null) {
                return;
            }

            const glyph = document.getElementById('mobile-nav-toggle-glyph');

            if (glyph == null) {
                return;
            }

            if (navlinks.attributes['aria-hidden'].value == "true") {
                navlinks.setAttribute("aria-hidden", "false");
                navlinks
                    .classList
                    .add('show');
                glyph.innerHTML = "⨉";
            } else {
                navlinks.setAttribute("aria-hidden", "true");
                navlinks
                    .classList
                    .remove('show');
                glyph.innerHTML = "☰";
            }
        });
</script>