---
layout: html
title: "All Albums"
eleventyComputed:
    image: "{{ albums.albumPhotos[albums.albums[albums.albumOrder[0]].coverPhotos[0]].thumbnailSmall.src | prefixCDN }}"
    imageAlt: "{{ albums.albumPhotos[albums.albums[albums.albumOrder[0]].coverPhotos[0]].alt }}"
---
<main class="main">
    <div class="width-control mx-auto">
        {% include "navbar.njk" %}
    </div>
    <div class="wide">
        <div class="width-control mx-auto pb-4">
            <h1 class="pageTitle">All Albums</h1>
        </div>
        {%- for albumId in albums.albumOrder %}
            {% set album = albums.albums[albumId] %}
            <div class="mb-4 mx-auto mt-2 sm:mt-4">
                <h2 class="text-lg my-0 pb-2">
                    <a href="{{ album.permalink | stripIndex }}">{{ album.date | formatDate }} - {{ album.title }}
                    </a>
                </h2>
                {% set photoIds = album.photoOrder %}
                {% include 'albumPhotoGrid.njk' %}
    </div>
        {% endfor %}
    </div>
    <div class="width-control mx-auto">
        {% include "footer.njk" %}
    </div>
</main>