---
layout: page
title: Photo Tags
description: A list of all tags used on my albums.
---
{%- for tag in albums.tags %}
    <div class="flex items-baseline">
        <a href="{{ tag.permalink | stripIndex }}" class="m-0 mb-1 ml-0 link no-underline">#{{ tag.tag }}</a>
        <p class="m-0 mb-1 ml-1">{{ tag.count }}</p>
    </div>
{% endfor %}