{% extends "partials/page.html" %}

{% block content %}

Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!
Hello, {{ name }}!

<div class="bg-red-500 text-white p-4">
  This is a red box
</div>

    {{ charlie }}

Last build {{ build_date }}
{% endblock %}
