{% extends "partials/base.html" %}

{%- block body %}
    {% include "partials/navbar.html" %}

    <div class="width-control mx-auto">
        <div class="page-header home-header">
            <div class="name-and-cursor">
                <h1 class="home-name">Zoe Aubert</h1>
                <p class="name-cursor !opacity-0" ></p>
            </div>
            <p>zo-e o-bear</p>
        </div>

        <div class="home-about">
            {{ about_text.to_html()|safe }}
        </div>
    </div>

    {% include "partials/footer.html" %}

    <script type="text/javascript">
        const TIME_BETWEEN_NAME_CHANGES = 5000;

        const TYPING_DELAY_MAX = 200;
        const TYPING_DELAY_MIN = 80;

        const nameElement = document.querySelector('.home-name');
        const cursorElement = document.querySelector('.name-cursor');

        // Cursor, split first and last names

        const names = [{%- for name in silly_names %}"{{ name }}",{%- endfor %}]
        let memory = ['Zoe Aubert'];

        const MEMORY_SIZE = Math.floor(names.length / 2);

        function typingDelay() {
            return Math.floor(Math.random() * (TYPING_DELAY_MAX - TYPING_DELAY_MIN)) + TYPING_DELAY_MIN;
        }

        function pickNewName() {
            let next = names[Math.floor(Math.random() * names.length)];

            while (memory.includes(next)) {
                next = names[Math.floor(Math.random() * names.length)];
            }

            memory.push(next);

            memory = memory.slice(-MEMORY_SIZE);

            return next;
        }

        async function typeName(nextName) {
            if (!nameElement) {
                return
            }

            while (nameElement.innerHTML.length > 0) {
                nameElement.innerHTML = nameElement
                    .innerHTML
                    .substring(0, nameElement.innerHTML.length - 1);
                await new Promise(resolve => setTimeout(resolve, typingDelay()));
            }

            await new Promise(resolve => setTimeout(resolve, 500));

            for (let i = 0; i < nextName.length; i++) {
                nameElement.innerHTML = nextName.substring(0, i + 1);

                await new Promise(resolve => setTimeout(resolve, typingDelay()));
            }

        }

        async function changeName() {
            const nextName = pickNewName();

            await typeName(nextName);

            setTimeout(changeName, TIME_BETWEEN_NAME_CHANGES);
        }

        async function main() {
            if (nameElement && cursorElement) {
                await new Promise(resolve => setTimeout(resolve, 2000));

                cursorElement
                    .classList
                    .remove('!opacity-0')

                setTimeout(changeName, 1500);
            }
        }

        main();
    </script>
{% endblock %}