<div class="justify-start items-center game">
    <a class="my-2" href="/interests/games/{{ game.slug_partial }}/" rel="noopener noreferrer">
        {% let image = game.image.clone() %}
        {% include "partials/media/image.html" %}
    </a>
    <a class="my-0 no-underline" href="/interests/games/{{ game.slug_partial }}/">
        <p class="my-0 text-center accent">{{ game.name }}</p>
    </a>
    <p class="secondary my-0 leading-5">
        {{ game.playtime_hours().format(1, true) }}h
    </p>
</div>
