{% extends "partials/page.html" %} {%- block content %}
<div class="games-grid" data-pagefind-ignore>
    {% for game in games %}
    <div class="justify-start items-center game">
        <a
            class="my-2"
            href="/interests/games/{{ game.game.slug_partial() }}/"
            rel="noopener noreferrer"
        >
            {% let image = game.game.image().clone() %} {% include
            "partials/media/image.html" %}
        </a>
        <a
            class="my-0 no-underline"
            href="/interests/games/{{ game.game.slug_partial() }}/"
        >
            <p class="my-0 text-center accent">{{ game.game.name() }}</p>
        </a>
        <p class="secondary my-0 mb-1 leading-5">
            {{ game.unlocked().len() }}/{{ game.total_achievements() }}
        </p>
        <p class="secondary my-0 leading-5">
            {{ game.game.playtime_hours().format(1, true) }}h
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}
