{% extends "partials/page.html" %}

{%- block content %}
    <div class="number-stats">
        <div class="number-stat">
            <p class="numbers">{{ total_playtime.format(1, true) }}h</p>
            <p class="label">Playtime</p>
        </div>
        <div class="number-stat">
            <p class="numbers">{{ total_games.format(0, true) }}</p>
            <p class="label">Games</p>
        </div>
    </div>
    <div class="text-lg my-8 items-center">
        {# <p>Not mentioned here are untold hours in Minecraft and EVE Online</p> #}
        <p>See my <a href="/interests/games/activity/">gaming activity</a></p>
    </div>
    <h2>Recently Played</h2>
    <div class="games-grid">
        {% for game in games_by_recently_played %}
            {% match game %}
            {% when Game::Steam with (game) %}
            {% include "interests/games/games_list_steam_game.html" %}
            {% endmatch %}
        {% endfor %}
    </div>
    <h2 class="mt-16">All Games</h2>
    <div class="games-grid mb-8">
        {% for game in games_by_most_played %}
        {% endfor %}
    </div>
    <p><a class="mt-8" href="/interests/games/achievements/">Sort by Achievement Progress</a></p>
{% endblock %}
