@import '../core';

.title {
  width: 100%;
  //text-align: center;
  font-size: 200%;
  padding: 2rem 1rem 2rem;
  margin: 0 0 0 -.25rem;
  font-weight: bold;
}

@media only screen and (min-width: $collapsable-width) {
  .title {
    padding: 2rem 0 2rem;
  }
}