---
layout: page
pagination:
  data: years.years
  size: 1
  alias: year
permalink: "/years/{{ year }}/index.html"
eleventyComputed:
    title: "{{ year }} posts"
---
{%- for entityKey in years.entitiesByYear[year] %}
  {%- set post = allPosts.posts[entityKey] %}
  {% include "timelinePost.njk" %}
{% endfor %}