{% extends "partials/page.html" %}

{%- block content %}
    <div class="items-end">
        <a href="/albums/all/">All Album Photos</a>
    </div>

    {% for (year, items) in albums_by_year %}
        <h2>{{ year }}</h2>
        <div class="album-grid">
            {% for item in items %}
                <a href="{{ item.album.slug.relative_link() }}" class="album">
                    {% if item
                        .cover_images
                        .len() > 1 %}
                        <div class="preview-multi">
                            {% for image in item.cover_images %}
                                {% include "partials/media/image.html" %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="preview-single">
                            {% for image in item.cover_images %}
                                {% include "partials/media/image.html" %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="title-and-date">
                        <h3 class="title">{{ item.album.title }}</h3>
                        <date date="{{ item.album.date.without_time() }}">
                            {{ item.album.date.without_time() }}
                        </date>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
