{% extends "partials/page.html" %}

{%- block header %}
<div class="page-header">
    <h1>Photos</h1>
    <div class="flex-row justify-center mt-2">
        <a href="/albums/all/">All Album Photos</a>
    </div>
</div>
{% endblock %}

{%- block content %}
<ol class="album-years">
    {% for (year, items) in albums_by_year %}
    <li class="year">
        <h2>{{ year }}</h2>
        <ul class="album-grid">
            {% for item in items %}
            <li>
                <a href="{{ item.album.slug.relative_link() }}" class="album">
                    {% if item .cover_images .len() > 1 %}
                    <div class="preview-multi">
                        {% for image in item.cover_images %}
                        <div class="img-container">
                            {% include
                            "partials/media/image.html" %}
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="preview-single">
                        {% for image in item.cover_images %}
                        <div class="img-container">
                            {% include
                            "partials/media/image.html" %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="title-and-date">
                        <h3 class="title">{{ item.album.title }}</h3>
                        <date date="{{ item.album.date.without_time() }}">
                            {{ item.album.date.without_time() }}
                        </date>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ol>
{% endblock %}
