{% extends "partials/base.html" %}
{%- block body %}
{% include "partials/navbar.html" %}

<div class="width-control mx-auto">
{% include "partials/page_header.html" %}
</div>
<div class="wide">
    {% for album in albums %}
    <div>
        <a href="{{ album.slug.relative_link() }}" class="no-underline">
            <h2 class="accent text-2xl font-bold mt-12 mb-3 hover:under">
                {{ album.date.without_time() }} - {{ album.title }}
            </h2>
        </a>
        <div class="media-grid">
            {% for photo in album.photos %}
            {% let image = photo.small_image.clone() %}
            <div class="grid-element {{ image.orientation().to_string() }}">
                <a href="{{ photo.slug.relative_link() }}">
                    {% include "partials/media/image.html" %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% include "partials/footer.html" %} {% endblock %}
