<main class="home">
    <section class="intro">
        <p>
            Hi there, I’m a software developer from Jersey, living in Portsmouth, working at
            <a href="https://radweb.co.uk" target="_blank" rel="noopener">Radweb</a> on
            <a href="https://inventorybase.com" target="_blank" rel="noopener">InventoryBase</a> and other projects; primarily focusing on app development.
    </section>
    <section>
    <% site.posts.sort('date', -1).slice(0,5).forEach((post) => { %>
        <%- partial('partials/blog-entry', { post }) %>
    <% }) %>
    </section>
</main>
