<main class="home">
    <div class="grid" id="background">
    </div>
    <div class="container">
        <h1 class="name">Zoe Aubert</h1>
        <div class="intro">
            <p>Developer, gamer, musician and some other things</p>
            <p>Third year computer science student at the University of Portsmouth</p>
            <p>Working on cool things at <a href="http://radweb.co.uk" target="_blank">RadWeb</a></p>
        </div>
        <div class="linkContainer">
            <ul class="links links-with-text">
                <li>
                    <a href="/blog">
                        <i class="fas fa-pencil-alt"></i>
                        <p>Blog</p>
                    </a>
                </li>
                <li>
                    <a href="/photos">
                        <i class="fas fa-camera"></i>
                        <p>Photos</p>
                    </a>
                </li>
                <!--<li>-->
                    <!--<a href="/about">-->
                        <!--<i class="fas fa-user"></i>-->
                        <!--<p>About</p>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="linkContainer socialLinks">
            <ul class="links">
                <li>
                    <a href="http://twitter.com/geekyaubergine" target="_blank">
                        <i class="fab fa-twitter"></i>
                        <p>Twitter</p>
                    </a>
                </li>
                <li>
                    <a href="http://github.com/geekyaubergine" target="_blank">
                        <i class="fab fa-github"></i>
                        <p>GitHub</p>
                    </a>
                </li>
                <li>
                    <a href="mailto:hello@zoeaubert.me" target="_blank">
                        <i class="far fa-envelope"></i>
                        <p>Email</p>
                    </a>
                </li>
                <li>
                    <a href="http://linkedin.com/in/chrisaubert" target="_blank">
                        <i class="fab fa-linkedin"></i>
                        <p>LinkedIn</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js" ></script>
<%- js('js/hexBackground.js') %>
