<!DOCTYPE html>
<html>
<head>
    <%- partial('partials/head') %>
</head>
<body>
    <% if (!page.path.match(/index.html/i)) { %>
    <%- partial('partials/navbar') %>
    <% } %>
    <main>
        <%- body %>
        <%- partial('partials/disqus') %>
    </main>
</body>
</html>