<main>
    <div class='post-article'>
        <h2><%- page.title %></h2>
        <div class='date'>
            <%= date(page.date, config.date_format) %>
        </div>
        <%- page.content %>
    </div>
</main>