---
layout: page
---
{# <div class="mb-8 p-2 bg-accent-dark dark:bg-accent rounded">
    <p class="m-0">Zoe of the House Aubert, First of Her Name, Grand Marshal of the AppPocalypse, Slayer of Bugs, Herald of Strong Type Systems.</p>
</div> #}

<div class="content about prose-p:my-2">
    {{ about | mdToHtml | safe}}
</div>
{# <div class="mainPageBlock">
    <h2 class="mainPageHeading">Recent Posts</h2>
    {%- for postKey in timeline.recentPostsOrder %}
        {% set post = timeline.posts[postKey] %}
        {% include "timelinePost.njk" %}
    {% endfor %}
    <a class="mt-6" href="/timeline">See Timeline</a>
</div> #}
<div class="mainPageBlock">
    <h2 class="mainPageHeading">Blog Posts</h2>
    {%- for postKey in blogposts.recentPostsOrder %}
        {% set post = blogposts.posts[postKey] %}
        {% include "blogPostListItem.njk" %}
    {% endfor %}
    <a class="link under" href="/blog">See All Blog Posts</a>
</div>