---
layout: page
---
<div class="content">
    {{ about | mdToHtml | safe}}
</div>
<a href="/blog" class="link">
<h2 class="mainPageHeading">Macro Posts</h2>
</a>
{%- for postId in blogposts.recentPostsOrder %}
{% set post = blogposts.posts[postId] %}
{% include "blogpost.njk" %}
{% endfor %}
<a href="/micros" class="link">
<h2 class="mainPageHeading">Micro Posts</h2>
</a>
{%- for postId in micros.recentPostsOrder %}
{% set post = micros.posts[postId] %}
<article class="my-2">
    <a href="{{ post.slug }}">
        <time class="link" datetime="{{ post.date }}">
            {{ post.date | formatDateTime }}
        </time>
    </a>
    <div class="content">
        {{ post.excerpt | mdToHtml | safe }}
    </div>
</article>
{% endfor %}
<h2 class="mainPageHeading">Socials</h2>
<div class="mt-4">
{% for social in socials %}
    <div class="flex mb-1 last-of-type:mb-0">
        <a class="link" href="{{ social.link }}" target="_blank" rel="me">{{ social.name }}</a>
        <span class="text mt-0 mb-0 ml-1 sm:ml-2">-</span>
        <span class="text mt-0 mb-0 ml-1 sm:ml-2">{{ social.description }}</span>
    </div>
{% endfor %}
</div>