---
pagination:
    data: micros.postOrder
    size: 25
    alias: entityId
permalink: '/micros/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}/index.html'
layout: page
title: Micro Posts
---
<div class="my-8"/>
{%- for entityId in pagination.items %}
    {% set post = micros.posts[entityId] %}
    {% include "timelinePost.njk" %}
{% endfor %}
{% include "pagination.njk" %}