---
layout: html
pagination:
    data: photos
    size: 48
    alias: photos
permalink: '/photos/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}/index.html'
eleventyComputed:
    image: "{{ photos[0].src }}"
    imageAlt: "{{ photos[0].alt }}"
title: "All Photos"
description: "All my photos"
---
<main>
    <div class="width-control mx-auto">
        {% include "navbar.njk" %}
    </div>
    <div class="wide">
        <div class="flex-row pb-4 justify-between items-baseline">
            <h1 class="pageTitle">All Photos</h1>
            <div class="flex-row justify-end">
                <a href="/tags" class="link mr-4">Tags</a>
                <a href="/albums" class="link">View Albums</a>
            </div>
        </div>
        <div class="photogrid grid-cols-2 sm:grid-cols-3 md:grid-cols-4">
            {% for photo in photos %}
                <a href="{{ photo.parentPermalink }}" class="flex justify-center items-center col-span-1">
                    {% renderImage photo.image %}
                </a>
            {% endfor %}
        </div>
        {% include "pagination.njk" %}
    </div>
    <div class="width-control mx-auto">
        {% include "footer.njk" %}
    </div>
</main>