---
layout: base
title: Photos
---
<div class="width-control mx-auto flex justify-between items-baseline">
    {% if title %}
        <h2 class="pageTitle mb-8 text-red-500">{{ title }}</h2>
    {% endif %}
    <div>
        <a href="/tags" class="link mr-4">Tags</a>
        <a href="/all" class="link">All Photos</a>
    </div>
</div>
<div class="wide">
    {% for year in albumsByYear %}
        <div class="my-2">
            <h3>{{ year.year }}</h3>
            <div class="grid gap-x-2 gap-y-2 grid-cols-1 sm:grid-cols-2 mb-8">
                {% for album in year.albums %}
                    {{ album | log }}
                    <div class="flex flex-col justify-between cursor-pointer my-2">
                        <a href="{{ album.permalink }}" class="link">
                            <div class="flex justify-around items-center gap-2">
                                {% for photo in album.cover %}
                                    <div class="max-h-[16rem]">
                                        {% renderPhoto photo %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div>
                                <h4 class="link text-sm text-center mt-1">{{ album.title }}</h4>
                                <date datetime="{{ album.date }}" class="secondary no-underline">
                                    {{ album.date }}
                                </date>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>