---
layout: page
title: Timeline
description: My timeline
---

{% set filter = "lego" %}
{%- for post in collections.timelinePosts %}
    {% include "timelinepost.njk" %}
{% endfor %}

{# {%- for post in microblog %}
    {% include 'microblogPost.njk' %}
{% endfor %} #}