name: website

on:
    push:
        branches: ['main']
    pull_request:

env:
    CARGO_TERM_COLOR: always

jobs:
    check-and-test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Install rust
              uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: stable
                  override: true
                  components: rustfmt, clippy

            - name: Install node
              uses: actions/setup-node@v4
              with:
                  node-version: '19'

            - name: Node dependencies
              run: npm install

            - name: Check
              run: cargo check --features env-variables
              env:
                  MASTODON_ACCOUNT_ID: 'not-a-real-id'
                  BUNNY_CDN_URL: ''
                  BUNNY_CDN_ACCESS_KEY: ''
                  BRICKSET_API_KEY: ''
                  BRICKSET_USERNAME: ''
                  BRICKSET_PASSWORD: ''
                  STEAM_API_KEY: ''
                  STEAM_ID: ''
                  TMDB_KEY: ''

            - name: Run tests
              run: cargo test --features env-variables
              env:
                  MASTODON_ACCOUNT_ID: 'not-a-real-id'
                  BUNNY_CDN_URL: ''
                  BUNNY_CDN_ACCESS_KEY: ''
                  BRICKSET_API_KEY: ''
                  BRICKSET_USERNAME: ''
                  BRICKSET_PASSWORD: ''
                  STEAM_API_KEY: ''
                  STEAM_ID: ''
                  TMDB_KEY: ''

    build_and_deploy:
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'

        needs:
            - check-and-test

        steps:
            - uses: actions/checkout@v4

            - name: Install SSH key
              uses: webfactory/ssh-agent@v0.9.0
              with:
                  ssh-private-key: ${{ secrets.BUILD_SERVER_PRIVATE_KEY }}

            - name: Install rust
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  override: true
                  components: rustfmt, clippy

            - name: Install node
              uses: actions/setup-node@v4
              with:
                  node-version: '19'

            - name: Node dependencies
              run: npm install

            - name: Build
              run: cargo build --features env-variables --release
              env:
                  MASTODON_ACCOUNT_ID: ${{ secrets.MASTODON_ACCOUNT_ID }}
                  BUNNY_CDN_URL: ${{ secrets.BUNNY_CDN_URL}}
                  BUNNY_CDN_ACCESS_KEY: ${{ secrets.BUNNY_CDN_ACCESS_KEY }}
                  BRICKSET_API_KEY: ${{ secrets.BRICKSET_API_KEY }}
                  BRICKSET_USERNAME: ${{ secrets.BRICKSET_USERNAME }}
                  BRICKSET_PASSWORD: ${{ secrets.BRICKSET_PASSWORD }}
                  STEAM_API_KEY: ${{ secrets.STEAM_API_KEY }}
                  STEAM_ID: ${{ secrets.STEAM_ID }}
                  TMDB_KEY: ${{ secrets.TMDB_KEY }}

            - name: Deploy
              run: |
                  scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null target/release/zoeaubert-website ${{ secrets.BUILDR_SERVER_USER }}@${{ secrets.BUILD_SERVER_HOST }}:${{ secrets.BUILD_SERVER_DIR }}/builder
                  scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -r content  ${{ secrets.BUILDR_SERVER_USER }}@${{ secrets.BUILD_SERVER_HOST }}:${{ secrets.BUILD_SERVER_DIR }}
                  scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -r ${{ secrets.SITE_CONFIG }}  ${{ secrets.BUILDR_SERVER_USER }}@${{ secrets.BUILD_SERVER_HOST }}:${{ secrets.BUILD_SERVER_DIR }}/${{ secrets.SITE_CONFIG }}
                  scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -r assets ${{ secrets.BUILDR_SERVER_USER }}@${{ secrets.BUILD_SERVER_HOST }}:${{ secrets.BUILD_SERVER_DIR }}
                  scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -r _assets ${{ secrets.BUILDR_SERVER_USER }}@${{ secrets.BUILD_SERVER_HOST }}:${{ secrets.BUILD_SERVER_DIR }}
                  ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null  ${{ secrets.BUILDR_SERVER_USER }}@${{ secrets.BUILD_SERVER_HOST }} "cd ${{ secrets.BUILD_SERVER_DIR }} && ./build.sh"
