<article class="timeline-post">
{% match omni_post %}
{% when OmniPost::BlogPost with (post) %}
{% include "partials/omni_post/omni_post_blog_post.html" %}
{% endmatch %}
{%- block content %}
{%- endblock %}

<div class="tags-and-timestamp">
    <div class="tags-list">
        {% let tags = omni_post.tags() %}
        {% include "partials/tags_list.html" %}
    </div>
    <a href="{{ omni_post.link() }}" rel="noopener" class="timestamp">
        <time datetime="{{ omni_post.date().datetime() }}">
            {{ omni_post.date().short_iso() }}
        </time>
    </a>
</div>

</article>
